<div class="p-3 bg-color-0">

  <mat-tab-group #tabGroup mat-stretch-tabs="false" [selectedIndex]="tabGroupRemember.selectedIndex">
    <mat-tab label="Accueil">
      <CustomerHomePage *ngIf="customer" [customer]="customer"></CustomerHomePage>
    </mat-tab>
    <mat-tab label="Procédures">
      <div class="mt-4" *ngIf="customer">
        <procedure-apply-list [params]="{customerId: customer.id}"></procedure-apply-list>
      </div>
    </mat-tab>

    <mat-tab label="Billets d'avions">
      <div class="mt-4" *ngIf="customer">
        <PlaneTicketList *ngIf="customer" [params]="{customerId: customer.id}"
          [displayedColumns]="['id', 'departureCountry', 'arrivalCountry', 'agency', 'employee', 'createdAt', 'action']"
        ></PlaneTicketList>
      </div>
    </mat-tab>

    <mat-tab label="Paiements">
      <div class="mt-4" *ngIf="customer">
        <customer-payments [customer]="customer"></customer-payments>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
