<div class="ms-3  d-flex align-items-center">
  <button MyIconButton (click)="back()">
    <lucide-icon [img]="icons.ArrowLeftIcon"></lucide-icon>
  </button>
  <div class="ms-2 fontWeight-semiBold fontSize-16 flex-grow-1">Vérification de l'e-mail</div>
</div>

@if (parent.sendCodeTask.loading) {
  <div class="d-flex align-items-center br-4 surface mt-3 mx-3">
    <mat-spinner strokeWidth="1" diameter="24"></mat-spinner>
    <div class="ms-3 opacity-8">Envoie du code confirmation...</div>
  </div>
}

@if(parent.sendCodeTask.success) {
  <div class="d-flex align-items-center br-4 surface mt-3 mx-4">
    <div class="opacity-8">Un code vous a été envoyer à votre adresse :
      <span class="fontWeight-semiBold">{{parent.model.email}}</span> ;
      Veuillez le renseigner.</div>
  </div>
}



<div class="mt-3 mx-4">
  <TextField class="w-100">
    <label TextFieldLabel for="code-field">Code de vérification</label>
    <input type="text" TextFieldInput [formControl]="formControl" id="code-field" required minlength="6">
  </TextField>
  @if(formControl.invalid && (formControl.dirty || !formControl.untouched)) {
    <div *ngIf="formControl.errors?.['required']" class="warn-text">Veuillez renseigner le code de vérification.</div>
    <div *ngIf="formControl.errors?.['minlength']" class="warn-text">
      Le code de vérification est composé de 6 chiffres.
    </div>
  }

</div>

<div class="mx-4">
  <div class="d-flex align-items-center br-4 surface mt-3">
    Vous n'avez pas reçu de code ? &nbsp;
    <span (click)="parent.sendCodeAsync()" class="link-button">Renvoyez le code</span>.
  </div>



  @if (checkCodeTask.loading) {
    <div class="d-flex align-items-center br-4 surface mt-3">
      <mat-spinner strokeWidth="1" diameter="24"></mat-spinner>
      <div class="ms-3 opacity-8">Vérification du code...</div>
    </div>
  }





  @if (checkCodeTask.success && !checkCodeTask.result) {
    <div class="d-flex br-4 warn mt-3 p-3">
      <lucide-icon [img]="icons.AlertCircleIcon"></lucide-icon>
      <div class="ms-3 opacity-8">Code de vérification incorrect.</div>
    </div>
  }
</div>

<div class="p-4 align-end">
  <button MyButton color="primary" (click)="next()"
          [disabled]="checkCodeTask.loading || parent.sendCodeTask.loading">
    Suivant</button>
</div>
