<div class="p-3  ">
  <div class="br-8 bg-color-0 h-100 p-3 d-flex align-items-center justify-content-center" style="box-sizing: border-box">
    <form [formGroup]="formGroup" class="th-form">
      <div class="title-20 mb-3">Achat de billet d'avion</div>
      <div class="divider"></div>

      <div class="mt-4">
      <div>
        <mat-checkbox formControlName="backAndForth" color="primary">Aller & retour</mat-checkbox>
      </div>

      <div class="mt-3">
        <mat-radio-group color="primary" formControlName="travelClass">
          <mat-radio-button value="economic">Classe économique</mat-radio-button>
          <mat-radio-button value="business" class="ms-3">Classe affaire</mat-radio-button>
        </mat-radio-group>
      </div>


       <div class="mt-3">
         <mat-form-field>
           <mat-label>Nombre de place</mat-label>
           <input matInput type="number" formControlName="placeCount">
         </mat-form-field>

         <mat-form-field>
           <mat-label>Pays de départ</mat-label>
           <input matInput type="text" formControlName="departureCountry" >
         </mat-form-field>

         <mat-form-field>
           <mat-label>Ville de départ</mat-label>
           <input matInput type="text" formControlName="departureCity" >
         </mat-form-field>

         <mat-form-field>
           <mat-label>Date de départ</mat-label>
           <input matInput CleaveDateInput placeholder="JJ/MM/AAAA" formControlName="departureDate">
         </mat-form-field>
       </div>



        <mat-form-field>
          <mat-label>Pays d'arrivée</mat-label>
          <input matInput type="text" formControlName="arrivalCountry">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ville d'arrivée</mat-label>
          <input matInput type="text" formControlName="arrivalCity">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date de retour</mat-label>
          <input matInput CleaveDateInput placeholder="JJ/MM/AAAA" formControlName="returnDate">
        </mat-form-field>
      </div>


      <div class="py-4 borderColor-20 align-end" style="border-top: 1px solid #e1dfdd">
        <button mat-flat-button color="primary" (click)="addPlaneTicket()">
          <mat-icon>add</mat-icon>Ajouter</button>
      </div>
    </form>
  </div>

</div>
