<div class="p-4">
  <div class="d-flex align-items-center mb-3 ">
    <div class="fontSize-22 fontWeight-semiBold flex-grow-1">Ajouter un espace</div>

    <button MyIconButton (click)="dialogRef.close()">
      <lucide-icon [img]="icons.XIcon"></lucide-icon>
    </button>
  </div>

  <nav-host startUrl="identifier">
    <ng-template nav-route="identifier" nav-routeName="identifier">
      <div SpaceAddIdentifier></div>
    </ng-template>

    <ng-template nav-route="info" nav-routeName="info">
      <div SpaceAddInfo ></div>
    </ng-template>

    <ng-template nav-route="confirm" nav-routeName="confirm">
      <div SpaceAddConfirm ></div>
    </ng-template>
  </nav-host>


</div>
