@if (getProcedureApply.loading) {
  <div class="d-flex justify-content-center p-5">
    <mat-spinner diameter="48" strokeWidth="2"></mat-spinner>
  </div>
}

@if (getProcedureApply.success) {

  <div class="d-flex">
    <button MyIconButton (click)="location.back()" class="marginStart-4">
      <lucide-icon [img]="icons.ArrowLeftIcon"></lucide-icon>
    </button>

    <div class="flex-grow-1"></div>

    <div>
      <button MyButton color="success" (click)="done()" *ngIf="!procedureApply.isDone">
        <lucide-icon [img]="icons.CircleCheckBigIcon"></lucide-icon> Clôturer
      </button>

      <button MyButton (click)="undone()" *ngIf="procedureApply.isDone">
        <lucide-icon [img]="icons.UndoIcon"></lucide-icon> Réouvrir
      </button>

      <button *ngIf="!procedureApply.isLocked" MyIconButton (click)="lock()" color="warn" class="marginHorizontal-8">
        <lucide-icon [img]="icons.LockIcon"></lucide-icon>
      </button>

      <button *ngIf="procedureApply.isLocked" MyIconButton (click)="unlock()" class="marginHorizontal-8">
        <lucide-icon [img]="icons.LockOpenIcon"></lucide-icon>
      </button>


      <button MyIconButton (click)="location.back()" class="warn">
        <lucide-icon [img]="icons.Trash2Icon"></lucide-icon>
      </button>
    </div>

  </div>


  <div>
    <div class="fontSize-22 fontWeight-semiBold paddingHorizontal-16 marginTop-8">Procédure en cours</div>
    <div class="marginTop-8" ProcedureApplyPager [procedureApply]="procedureApply"></div>
  </div>
}
