<div class="th-scaffold-toolbar" >
  <div style="display: flex; align-items: center">
    <ng-content select="[sidenav-toggle]"></ng-content>
    <span class="cursor-pointer" routerLink="" matTooltip="Accueil">THALES</span>
  </div>

  <div style="flex: 1 1 auto;"></div>

  <div style="display: flex; align-items: center">
    @if(!session) {
      <a routerLink="/identity/login" MyButton class="primary">Se connecter</a>
    }


    @if(session) {
     <div class="d-flex align-items-center">
       @if(showCreateButton) {
         <button MyButton class="me-3" (click)="spaceAddLauncher.launch()">
           <lucide-icon [img]="icons.PlusIcon"></lucide-icon>
           Créer un espace
         </button>
       }

       <button style="border-radius: 50%; border: none;
      display: flex; align-items: center; justify-content: center; padding: 0;
      cursor: pointer;
        overflow: hidden; height: 40px; width: 40px; "
               #menuTrigger
               (click)="dropdown.open(); $event.stopPropagation()"
               [MyTooltip]="session.user.fullName" >
         <MyPersona class="color{{session.user.color}} size40">
           <span MyPersonaText>CC</span>
         </MyPersona>
       </button>

       <Dropdown #dropdown [trigger]="menuTrigger"
                 (onBackdropClick)="dropdown.close()">

        <div style="background-color: #323130">
          <div class="display-flex columnGap-16 padding-16 ">
            <photo-edit-trigger [user]="session.user"></photo-edit-trigger>
            <div class="textStyle-body1">{{session.user.fullName}}</div>
          </div>
          <MyMenu>

            <a MenuItem routerLink="/identity/profile">
              <lucide-icon [img]="icons.UserCogIcon"  strokeWidth="1.5"></lucide-icon>
              Profile</a>
            <a  MenuItem routerLink="/identity/logout">
              <lucide-icon [img]="icons.LogOutIcon"  strokeWidth="1.5"></lucide-icon>  Se déconnecter
            </a>
          </MyMenu>
        </div>
       </Dropdown>
     </div>
    }
  </div>
</div>
