<div class="th-scaffold-toolbar" >
  <div style="display: flex; align-items: center">
    <button style="margin-left: 8px; margin-right: 8px" MyIconButton aria-label="Open menu icon"
            #sidebarToggleBtn (click)="scaffold.sidenav.toggle()">
      <lucide-icon [img]="icons.MenuIcon"  strokeWidth="1.5"></lucide-icon>
    </button>

    <span class="cursor-pointer" routerLink="" matTooltip="Accueil">FAST App</span>
  </div>

  <div style="flex: 1 1 auto;"></div>

  <div style="display: flex; align-items: center">
    @if(!session) {
      <a routerLink="/identity/login" MyButton class="primary">Se connecter</a>
    }


    @if(session) {
     <div class="d-flex align-items-center">
       <button MyButton class="me-3" (click)="spaceAddLauncher.launch()">
         <lucide-icon [img]="icons.PlusIcon"></lucide-icon>
         Créer
       </button>
       <button style="border-radius: 50%; border: none;
      display: flex; align-items: center; justify-content: center;
      cursor: pointer;
        overflow: hidden; height: 36px; width: 36px; margin-left: 8px"
               #menuTrigger
               (click)="dropdown.open(); $event.stopPropagation()"
               [matTooltip]="session.user.fullName" >
         <img src="/assets/user.png" alt="profile image" height="36" width="36">
       </button>

       <Dropdown #dropdown [trigger]="menuTrigger"
                 (onBackdropClick)="dropdown.close()">
         <MyMenu class="my-light-theme">

           <a MenuItem routerLink="/identity/profile">
             <lucide-icon [img]="icons.UserCogIcon"  strokeWidth="1.5"></lucide-icon>
             Profile</a>
           <a  MenuItem routerLink="/identity/logout">
             <lucide-icon [img]="icons.LogOutIcon"  strokeWidth="1.5"></lucide-icon>  Se déconnecter
           </a>
         </MyMenu>
       </Dropdown>
     </div>
    }
  </div>
</div>
