.th-scaffold-toolbar {
  color: var(--my-OnBackgroundColor);
  display: flex;
  align-items: center;
  padding: 8px;
  height: 64px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--my-dividerColor);
}
