<div class="px-4 py-2">

  <div class="d-flex align-items-center">
    <breadcrumb class="my-3" [items]="breadcrumbItems"></breadcrumb>
    <div class="flex-grow-1"></div>
    <div>
      <button mat-flat-button color="primary" (click)="addPayment()">
        <mat-icon>add</mat-icon> Ajouter un paiement </button>
    </div>
  </div>
  <div class="divider my-3"></div>

  <PaymentList [params]="{agencyId:agency.id}"
  [displayedColumns]="[ 'code',  'amount',  'reason', 'customer', 'employee', 'createdAt', 'action']"></PaymentList>
</div>
