<div class="p-4">

  <div class="d-flex align-items-center">

    <div class="flex-grow-1">
      <div class="fontSize-24">Paiements</div>
    </div>
    <div>
      <button MyButton class="primary" (click)="addPayment()">
        <lucide-icon [img]="icons.PlusIcon"></lucide-icon>
        Ajouter un paiement
      </button>
    </div>
  </div>

  <PaymentList class="mt-3" [params]="{agencyId:agency.id}"
               [displayedColumns]="[ 'code',  'amount',  'reason', 'customer', 'employee', 'createdAt', 'action']"></PaymentList>
</div>
