<div class="d-flex align-items-center p-3" *ngIf="customer">
  <button MyIconButton (click)="location.back()">
    <lucide-angular [img]="icons.ArrowLeftIcon" class="my-icon"></lucide-angular>
  </button>

  <div class="flex-grow-1"></div>

  <div>
    <button MyIconButton class="me-1" matTooltip="Ajouter ce client aux favoris" *ngIf="!customer.isFavorite"
      (click)="toggleFavorite(customer)"
    >
      <lucide-angular [img]="icons.StarIcon" class="my-icon"></lucide-angular>
    </button>

    <button MyIconButton class="me-1" *ngIf="customer.isFavorite"
            (click)="toggleFavorite(customer)"
            matTooltip="Enlever ce client des favoris">
      <lucide-angular [img]="icons.StarIcon" class="primary-fill"></lucide-angular>
    </button>

    <button MyIconButton class="me-1" *ngIf="customer.isArchived"
            matTooltip="Enlever ce client des archives"
          (click)="restoreArchived(customer)"
    >
      <lucide-angular [img]="icons.ArchiveXIcon" class="my-icon"></lucide-angular>
    </button>

    <button MyIconButton class="me-1" *ngIf="!customer.isArchived"
            matTooltip="Archiver ce client"
      (click)="archive(customer)"
    >
      <lucide-angular [img]="icons.ArchiveIcon" class="my-icon"></lucide-angular>
    </button>

    <button MyIconButton class="me-1" matTooltip="Supprimer ce client"
      (click)="delete(customer)">
      <lucide-angular [img]="icons.Trash2Icon" class="my-icon"></lucide-angular>
    </button>

    <a MyButton class="primary"
      [routerLink]="['/customers', customer.id, 'edit']"
    >
      Modifier
    </a>
  </div>
</div>



<div class="d-flex align-items-center px-4" *ngIf="customer">
  <CustomerPersonaInput></CustomerPersonaInput>
  <div class="fontSize-24 ms-4">{{customer.fullName}}</div>
</div>
