<div class="m-2 p-4 bg-color-0 br-8 mat-elevation-z1" *ngIf="apply">
  <div class="fontSize-22 fontWeight-semiBold mb-3">Procédure en cours</div>

  <div class="divider"></div>

  <dl class="description-list">
    <dt>Code</dt>
    <dd>{{apply.code}}</dd>

    <dt>Procédure</dt>
    <dd>{{apply.procedure.name}}</dd>

    <dt>Client</dt>
    <dd>{{apply.customer.fullName}}</dd>

    <dt>Date d'engagement</dt>
    <dd>{{apply.createdAt.toFormat('ff')}}</dd>

  </dl>

  <div *ngIf="apply?.steps" class="mt-4">
    <div class="fontSize-18 fontWeight-semiBold">Étapes</div>

    <a class="mt-3 br-4 p-3 bg-color-10 borderColor-20 bg-color-20--hover divLink d-flex align-items-center"
       [routerLink]="['/agencies',apply.agencyId, 'procedure-applies', apply.id, 'steps', applyStep.id]"
       *ngFor="let applyStep of apply.steps">
     <div>
       <div class="fontWeight-semiBold fontSize-16">
         {{applyStep.procedureStep.name}}
       </div>
       <div *ngIf="applyStep.validated">
         {{applyStep.paymentAmount | number}}  FCFA
       </div>

       <div *ngIf="!applyStep.validated">
        <span class="inline-badge ms-bgColor-cyan-10">En attente</span>
       </div>
     </div>
    </a>

  </div>

</div>
