.search-field {
  display: flex;
  gap: 8px;
  border: 1px solid var(--my-dividerColor);
  border-radius: 4px;
  background-color: var(--my-SurfaceColor);
  padding: 4px 8px;

  & input {
    flex-grow: 1;
    height: 24px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--my-OnSurfaceColor)
  }
}

.picker-dialog-panel {
  height: 512px;
  border-radius: 8px;
  background-color: var(--my-backgroundColor);
}

.range-observer {
  height: 16px;
  background-color: transparent;
}
