<div class="p-3">
  <h1>Ajouter un client</h1>

  <mat-stepper orientation="vertical" #stepper>

    <mat-step [stepControl]="customerAddPerson.formGroup">
      <ng-template matStepLabel>Informations personnelles</ng-template>
      <customer-add-person #customerAddPerson></customer-add-person>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Culture</ng-template>
      <customer-add-culture></customer-add-culture>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Emploi</ng-template>
      <customer-add-job></customer-add-job>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Passport</ng-template>
      <customer-add-passport></customer-add-passport>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Études</ng-template>
      <customer-add-study></customer-add-study>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Adresse</ng-template>
      <customer-add-address></customer-add-address>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Contact</ng-template>
      <customer-add-contact></customer-add-contact>
    </mat-step>

    <mat-step>
      <div class="py-3">
        <ng-template matStepLabel>Confirmation</ng-template>
        <button mat-raised-button color="primary" (click)="add()" class="text-uppercase">
          <mat-icon>add</mat-icon> Ajouter le client
        </button>
      </div>
    </mat-step>

  </mat-stepper>

</div>
