
.my-light-theme {
  --menu__bgColor: rgba(0, 0, 0, 0.05);
  --menu-item__color: #323130;
  --menu-item__bgColor-hover: rgba(10, 120, 213, .1);
}


.my-dark-theme {
  --menu__bgColor:rgba(255,255,255, 0.1);
  --menu-item__color: #FFF;
  --menu-item__bgColor-hover: rgba(10, 120, 213, .6);
}


.menu {
  display: block;
  padding: 8px 4px;
  background-color: var(--menu__bgColor);

  color: var(--menu-item__color);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.menu-item {
  height: 40px;
  width: 100%;
  color: inherit !important;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 16px;

  &:hover {
    background-color: var(--menu-item__bgColor-hover);
  }
}

.menu-item-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  lucide-icon {
    stroke: var(--menu-item__color);
  }
}
