<div *ngIf="isLoading" class="page-center-container">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="members" class="mt-3">
  <div *ngFor="let member of members" class=" surface hover br-8 mb-3">


    <div class="d-flex align-items-center px-3 py-2 cursor-pointer bg-color-10--hover" matRipple>
      <div style="width: 48px; height: 48px; overflow: hidden; ">
        <img src="/assets/photo_silhouette.png" alt="" width="48">
      </div>
      <div class="ms-3 flex-grow-1">
        <div>
          <span class="fw-semibold fontSize-16"> {{ member.user.fullName }} </span>
          <span class="opacity-75"> &#64;{{ member.user.userName }}</span>
        </div>
        <div>
          <span class="inline-badge me-3" *ngIf="member.isAdmin" style="background-color: #107c10">Admin</span>
          <span class="inline-badge me-3" *ngIf="member.isLocked" style="background-color: #a4262c">Bloqué</span>
        </div>
      </div>

      <div>
        <button MyIconButton #menuTrigger (click)="dropdown.open(); $event.stopPropagation()">
          <lucide-icon [img]="icons.EllipsisVerticalIcon"></lucide-icon>
        </button>

        <Dropdown #dropdown [trigger]="menuTrigger.host"
                  (onBackdropClick)="dropdown.close()">
          <MyMenu>

            <button MenuItem (click)="setAdmin(member)" *ngIf="!member.isAdmin">
              <lucide-icon [img]="icons.ShieldCheck"></lucide-icon>
              Nommer admin...
            </button>
            <button MenuItem (click)="unsetAdmin(member)" *ngIf="member.isAdmin">
              <lucide-icon [img]="icons.ShieldXIcon"></lucide-icon>
              Révoquer le droit d'admin...
            </button>
            <button MenuItem (click)="toggleLock(member)" *ngIf="member.isLocked">
              <lucide-icon [img]="icons.LockOpen"></lucide-icon>
              Débloquer
            </button>
            <button MenuItem (click)="toggleLock(member)" *ngIf="!member.isLocked">
              <lucide-icon [img]="icons.LockIcon"></lucide-icon>
              Bloquer
            </button>
            <button MenuItem (click)="delete(member)">
              <lucide-icon [img]="icons.Trash2Icon"></lucide-icon>
              Supprimer
            </button>

          </MyMenu>
        </Dropdown>
      </div>


    </div>

  </div>
</div>
