<div class="p-3 m-3 bg-color-0" *ngIf="procedureStep">
  <div class="fontWeight-semiBold fontSize-22">Paramètres d'étape</div>

  <div class="mt-4 d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="label">Nom</div>
      <div class="value">{{ procedureStep.name }}</div>
    </div>

    <button mat-button color="primary" (click)="editName()">
      <mat-icon>edit</mat-icon>
      Modifier
    </button>
  </div>

  <div class="divider my-3"></div>

  <div class=" d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="fontWeight-semiBold">Prix</div>
      <div class="fontColor-140">
        {{ procedureStep.price.amount | currency: procedureStep.price.currency }}</div>
    </div>

    <button mat-button color="primary" (click)="editPrice()">
      <mat-icon>edit</mat-icon> Modifier
    </button>
  </div>


  <div class="divider my-3"></div>

  <div class=" d-flex align-items-center">
    <div class="flex-grow-1">
      <div  class="fontWeight-semiBold">Description</div>
      <div class="fontColor-140">{{ procedureStep.description }}</div>
    </div>

    <button mat-button color="primary" (click)="editDescription()">
      <mat-icon>edit</mat-icon>
      Modifier
    </button>
  </div>

  <div class="divider my-3"></div>



  <div class=" d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="fontSize-16 fontWeight-semiBold">Supression</div>
      <div class="fontColor-140">Supprimer définitivement cette procédure</div>
    </div>

    <button mat-flat-button color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
      Supprimer
    </button>
  </div>
</div>
