<div class="page-container my-dark-theme">
  <CustomerToolbar></CustomerToolbar>

  <MenuDrawer >
    <div>
      <button MyButton class="add-button" style="padding-top: 8px; padding-bottom: 8px"
          routerLink="add"
        >
        <lucide-icon [img]="icon.PlusIcon" class="my-icon"></lucide-icon>
        <span>Ajouter un client</span>
      </button>
    </div>

    <div style="height: 24px"></div>

    <div>
      <a routerLink="favorites" routerLinkActive="active" MenuDrawerItem>
        <lucide-icon [img]="icon.StarIcon" class="my-icon"></lucide-icon>
        <span class="spacer-16"></span>
        <span>Favoris</span>
        <span class="flex-grow-1"></span>
        <span class="menu-item-countBadge" *ngIf="statistics">{{statistics.favoriteCount}}</span>
      </a>

      <a routerLink="all" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  MenuDrawerItem>
        <lucide-icon [img]="icon.UserIcon" class="my-icon"></lucide-icon>
        <span class="spacer-16"></span>
        <span>Vos clients</span>
        <span class="flex-grow-1"></span>
        <span class="menu-item-countBadge">@if(statistics){{{statistics.nonArchivedCount }}}</span>
      </a>

      <a routerLink="archive" routerLinkActive="active" MenuDrawerItem>
        <lucide-icon [img]="icon.ArchiveIcon" class="my-icon"></lucide-icon>
        <span class="spacer-16"></span>
        <span>Clients archivés</span>
        <span class="flex-grow-1"></span>
        <span class="menu-item-countBadge" *ngIf="statistics">{{statistics.archiveCount ?? 0}}</span>

      </a>
    </div>

    <div style="height: 24px"></div>

    <div >
      <div class="fontWeight-semiBold fontSize-14 " style="margin-left: 16px; margin-bottom: 8px; opacity: .8"
      >Dossiers</div>

      <button href="/archives" MenuDrawerItem>
        <lucide-icon [img]="icon.FolderIcon" class="my-icon"></lucide-icon>
        <span class="spacer-16"></span>
        <span>Dossiers</span>
      </button>

      <button href="/archives" MenuDrawerItem>
        <lucide-icon [img]="icon.FolderIcon" class="my-icon"></lucide-icon>
        <span class="spacer-16"></span>
        <span>Achats de billets</span>
      </button>

    </div>
  </MenuDrawer>


  <div class="container-content">
    @if(space) {
      <router-outlet></router-outlet>
    }
  </div>
</div>
