<th-scaffold>
  <mat-sidenav-container style="height: 100%">
    <mat-sidenav mode="side" [opened]="true">
      <th-nav>
        <a routerLink="plane-tickets" th-nav-item>
          <mat-icon th-nav-item-icon>airplane_ticket</mat-icon>
          Billets d'avion</a>
        <a routerLink="payments" th-nav-item>
          <mat-icon th-nav-item-icon>payments</mat-icon>
          Paiements</a>

        <a routerLink="settings" th-nav-item>
          <mat-icon th-nav-item-icon>settings</mat-icon> Paramètres</a>
      </th-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</th-scaffold>
