<div class="mb-3">
   <div style="font-size: 16px; font-weight: 500">Adresse de récupération</div>
</div>

<div class="mb-3">
  Renseignez l'adresse E-mail utilisée par votre compte.
</div>

<div>
  <TextField class="w-100">
    <label for="email-field" TextFieldLabel>E-mail</label>
    <input type="text" TextFieldInput [formControl]="emailControl" id="email-field">
  </TextField>
</div>

<div class="mt-1 align-end">
  <a MyButton class="me-3"  routerLink="/identity/login">Annuler</a>
  <button MyButton color="primary" (click)="next()">Suivant</button>
</div>
