@if(getProcedureTask.loading) {
  <div class="d-flex align-content-center justify-content-center padding-32">
    <mat-spinner diameter="64" strokeWidth="2"></mat-spinner>
  </div>
}




<div *ngIf="getProcedureTask.success">
  <div class="fontSize-24">{{ procedure.name }}</div>
  <div>
    <TabRow #tabRow [selectedIndex]="0">
      <button TabRowItem
              (click)="tabRow.selectIndex(0, true); pager.selectIndex(0)"
              (mouseenter)="tabRow.activateHover(0)"
              (mouseleave)="tabRow.deactivateHover()"
              [active] = "tabRow.selectedIndex == 0"
      >Vue d'ensemble
      </button>
      <button TabRowItem
              (click)="tabRow.selectIndex(1, true); pager.selectIndex(1)"
              (mouseenter)="tabRow.activateHover(1)"
              (mouseleave)="tabRow.deactivateHover()"
              [active] = "tabRow.selectedIndex == 1"
      >Procédures en cours
      </button>

      <button TabRowItem
              (click)="tabRow.selectIndex(2, true); pager.selectIndex(2)"
              (mouseenter)="tabRow.activateHover(2)"
              (mouseleave)="tabRow.deactivateHover()"
              [active] = "tabRow.selectedIndex == 2"
      >Historique
      </button>
    </TabRow>
  </div>

  <HorizontalPager #pager [selectedIndex]="0">
    <div *PageDef>
      <ProcedureHome [procedure]="procedure"></ProcedureHome>
    </div>
    <div *PageDef class="p-3">
      <procedure-apply-list [params]="{procedureId: procedure.id}"></procedure-apply-list>
    </div>


    <div *PageDef class="p-3">
      <event-list [params]="{publisherId: procedure.publisherId}"></event-list>
    </div>
  </HorizontalPager>

</div>
