@if(getProcedureTask.loading) {
  <div class="d-flex align-content-center justify-content-center padding-32">
    <mat-spinner diameter="64" strokeWidth="2"></mat-spinner>
  </div>
}




<div *ngIf="getProcedureTask.success" class="marginVertical-16">

  <div class="d-flex align-items-center marginVertical-8 marginHorizontal-12">
    <button MyIconButton (click)="_location.back()">
      <lucide-icon [img]="icons.ArrowLeftIcon"></lucide-icon>
    </button>
    <div class="flex-grow-1"></div>
    <a MyButton [routerLink]="['/admin', parent.space.identifier, 'procedures', procedure.id, 'settings']"
       class="alpha-primary">
      <lucide-icon [img]="icons.SettingsIcon"></lucide-icon>
      Paramètres
    </a>
  </div>

  <div class="fontSize-24 marginTop-8 marginHorizontal-24">{{ procedure.name }}</div>
  <div class="marginHorizontal-8 marginTop-16">
    <TabRow #tabRow [selectedIndex]="0">
      <button TabRowItem
              (click)="tabRow.selectIndex(0, true); pager.selectIndex(0)"
              (mouseenter)="tabRow.activateHover(0)"
              (mouseleave)="tabRow.deactivateHover()"
              [active] = "tabRow.selectedIndex == 0"
      >Vue d'ensemble
      </button>
      <button TabRowItem
              (click)="tabRow.selectIndex(1, true); pager.selectIndex(1)"
              (mouseenter)="tabRow.activateHover(1)"
              (mouseleave)="tabRow.deactivateHover()"
              [active] = "tabRow.selectedIndex == 1"
      >Procédures en cours
      </button>

      <button TabRowItem
              (click)="tabRow.selectIndex(2, true); pager.selectIndex(2)"
              (mouseenter)="tabRow.activateHover(2)"
              (mouseleave)="tabRow.deactivateHover()"
              [active] = "tabRow.selectedIndex == 2"
      >Historique
      </button>
    </TabRow>
  </div>

  <HorizontalPager #pager [selectedIndex]="0">
    <div *PageDef>
      <div ProcedureHome [procedure]="procedure" class="padding-24"></div>
    </div>

    <div *PageDef class="p-3">
      <procedure-apply-list [params]="{procedureId: procedure.id}"></procedure-apply-list>
    </div>


    <div *PageDef class="p-3">
      <event-list [params]="{publisherId: procedure.publisherId}"></event-list>
    </div>
  </HorizontalPager>

</div>
