<div class="p-3 bg-color-0" *ngIf="procedure">

  <mat-tab-group #tabGroup mat-stretch-tabs="false" [selectedIndex]="tabGroupRemember.selectedIndex">
    <mat-tab label="Accueil">
      <procedure-home [procedure]="procedure"></procedure-home>
    </mat-tab>
    <mat-tab label="Applications">
      <procedure-applies [procedure]="procedure"></procedure-applies>
    </mat-tab>

    <mat-tab label="Historique">
      <event-list [params]="{publisherId: procedure.publisherId}"></event-list>
    </mat-tab>
  </mat-tab-group>

</div>
