<div class="flex-grow-1">
  <div class="d-flex align-items-center">
    <div class="fontSize-16 fontWeight-semibold flex-grow-1">
      {{ debt.amount.format() }}
    </div>
    <div>
      @if (debt.isPay) {
        <MyBadge color="success">Réglée</MyBadge>
      }
      @if (!debt.isPay && !debt.isLate) {
        <MyBadge color="warn">Non réglée</MyBadge>
      }
      @if (!debt.isPay && debt.isLate) {
        <MyBadge color="error">En retard</MyBadge>
      }
    </div>
  </div>


  <div class="marginHorizontal-2 opacity-8">
    {{ debt.reason }}
  </div>

  <div class="d-flex align-items-center">
    <div class="fontSize-12 opacity-6 flex-grow-1">
      #{{debt.code}} &bull;
      @if (debt.member?.user) {
        {{ debt.member?.user?.fullName }}
        &bull;
      }
      {{ debt.createdAt.moment() }}

    </div>

    <div *ngIf="!debt.isPay" class="error-color-1 fontSize-12">
      -{{debt.remaining.format()}}
    </div>
  </div>
</div>


<button MyIconButton #menuTrigger
        (click)="dropdown.open(); $event.stopPropagation()">
  <lucide-angular [img]="icons.EllipsisVerticalIcon" size="16"></lucide-angular>
</button>

<Dropdown #dropdown [trigger]="menuTrigger.host"
          (onBackdropClick)="dropdown.close()">
  <MyMenu>


    <button MenuItem (click)="delete(debt)">
      <lucide-icon [img]="icons.Trash2Icon" strokeWidth="1.5"></lucide-icon>
      Supprimer
    </button>
  </MyMenu>
</Dropdown>
