<div class="d-flex justify-content-center p-5" *ngIf="getFirstRangeTask.loading">
  <mat-spinner diameter="48" strokeWidth="2"></mat-spinner>
</div>


<div *ngIf="!getFirstRangeTask.loading">
  <table class="my-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Pays & ville de Départ</th>
      <th>Destination</th>
      <th>Prix</th>
      <th>Montant versé</th>
      <th *ngIf="display('customer')">
        <button class="th-button-1">Client</button>
      </th>

      <th>
        <button class="th-button-1" (click)="changeOrderBy('ID')">
          Ajouté le
          <span *ngIf="orderby[0] == 'ID'" class="ps-2">
            <lucide-icon [img]="icons.MoveUpIcon" *ngIf="orderby[1] == 'ASC'" strokeWidth="1.5"></lucide-icon>
            <lucide-icon [img]="icons.MoveDownIcon" *ngIf="orderby[1] == 'DESC'" strokeWidth="1.5"></lucide-icon>
              </span>
        </button>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let planeTicket of planeTickets; let i=index;" class="row-hover cursor-pointer"
        (click)="rowClick.emit(planeTicket)"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ planeTicket.departureCountry }}, {{ planeTicket.departureCity }}</td>
      <td>{{ planeTicket.arrivalCountry }}, {{ planeTicket.arrivalCity }}</td>
      <td>{{ planeTicket.paymentAmount | currency: 'XAF' : 'symbol' : '1.0-0' : 'fr' }}</td>
      <td>{{ planeTicket.price.amount | currency: 'XAF' : 'symbol' : '1.0-0' : 'fr' }}</td>

      <td *ngIf="display('customer')">{{ planeTicket.customer?.fullName }}</td>

      <td>
        <span class="fontSize-12">{{ planeTicket.createdAt.moment() }}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div *ngIf="!hasMore && getFirstRangeTask.success" class="end-list-thumb"></div>
<div class="range-observer-thumb" #rangeObserverThumb></div>
<div class="d-flex justify-content-center p-3" *ngIf="getRangeTask.loading">
  <mat-spinner strokeWidth="2" diameter="48"></mat-spinner>
</div>
