<div >
  <table mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">
        {{element.id}}
      </td>
    </ng-container>


    <ng-container matColumnDef="departureCountry">
      <th mat-header-cell *matHeaderCellDef> Pays & ville de Départ </th>
      <td mat-cell *matCellDef="let element">
        <span class="fontWeight-semiBold" >{{ element.departureCountry }}, {{ element.departureCity }}  </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="arrivalCountry">
      <th mat-header-cell *matHeaderCellDef> Pays & ville d'arrivée </th>
      <td mat-cell *matCellDef="let element">
        <span class="fontWeight-semiBold" >{{ element.arrivalCountry }}, {{ element.arrivalCity }} </span>
      </td>
    </ng-container>



    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Clients</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/admin/customers', element.id]">{{element.customer.fullName}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="paymentAmount">
      <th mat-header-cell *matHeaderCellDef>Montant versé</th>
      <td mat-cell *matCellDef="let element">
       {{element.paymentAmount | number}} FCFA
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Ajouté le</th>
      <td mat-cell *matCellDef="let element">
        <span class="fontSize-12">{{element.createdAt.toFormat('ff')}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" >
        <div class="align-end">
          <a mat-button color="primary" routerLink="/admin/plane-tickets/{{element.id}}" class="my-2">
            Détails
          </a>

        </div>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        (click)="onClick(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
