@import "./my-color";
@import "./my-table";

.my-dialog-panel {
  background-color: var(--my-backgroundColor);
  color: var(--my-OnbackgroundColor);
  border-radius: 8px;
  width: 384px;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(22px) saturate(2);
}

.my-dialog-panel-container {
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, .1);

}

.my-dialog-backdrop {
  //background-color: rgba(0, 0, 0, .8);
  background-color: rgba(255, 255, 255, 0.2);
}
