$my-table-color-divider: $my-color-divider;
$my-table-color-row__hover: $my-color-divider;


.my-table {
  border-collapse: collapse;

  tr.row-hover:hover {
    background-color: $my-table-color-row__hover;
  }

  th {
    //padding: 16px 16px;
    padding: 4px;
    font-weight: 600;
    border-bottom: 1px solid $my-table-color-divider;
  }

  td {
    padding: 12px;
    font-weight: normal;
    border-bottom: 1px solid $my-table-color-divider;
  }

  th.clickable {
    //width: 100%;
    //height: 100%;
    cursor: pointer;

    &:hover {
      background-color: $my-table-color-row__hover;
    }
  }

  .th-button-1 {
    padding: 8px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    color: inherit;
    &:hover {
      background-color: $my-table-color-row__hover;
    }
  }
}

.my-table.dark {
  tr.row-hover:hover {
    background-color: rgba(255, 255, 255, .1);
  }

  th {
    border-bottom: 1px solid rgba(255, 255, 255, .1);;
  }

  td {

    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }

  .th-button-1 {
    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
  }
}
