<div class="d-flex align-items-center mb-3">
  <button (click)="back()"  MyIconButton class="me-2">
    <lucide-icon [img]="icons.ChevronLeftIcon"></lucide-icon>
  </button>

  <div style="font-size: 16px; font-weight: 500">Code de récupération</div>
</div>


<div class="mb-2">
  Un e-mail contenant un code de validation vient d'être envoyé à <b>{{email}}</b>
</div>

<div class="mb-3">
  <a href="" (click)="sendCode($event)" >Renvoyer le code</a>
</div>

<div>
  <TextField>
    <label for="code-field" TextFieldLabel>Saisir le code</label>
    <input type="text" TextFieldInput [(ngModel)]="code" id="code-field">
  </TextField>
</div>

<div class="mt-3 align-end">
  <button MyButton color="primary" (click)="next()"> Suivant</button>
</div>
