<div >
  @if(getIncomeTask.loading) {
    <div class="d-flex align-items-center justify-content-center p-5">
      <mat-spinner [diameter]="64" strokeWidth="2"></mat-spinner>
    </div>
  }

  @if(getIncomeTask.success) {

    <div class="d-flex px-3 mt-4">
      <div class="flex-grow-1 fontSize-18 fontWeight-semiBold">
        Revenu
      </div>

      <div>
        <button MyButton color="warn" (click)="delete()" matTooltip="Supprimer ce revenu"
        [disabled]="!income.isIndependent">
          <lucide-icon [img]="icons.Trash2Icon"></lucide-icon> Supprimer
        </button>

        <button (click)="_dialogRef.close()" MyIconButton>
          <lucide-icon [img]="icons.XIcon"></lucide-icon>
        </button>
      </div>
    </div>

    <div class="padding-24">
      <div class="marginVertical-16">
        <div class="opacity-6 textStyle-caption1">Code</div>
        <div class="textStyle-body1">{{income.code}}</div>
      </div>

      <div class="d-flex flex-column-gap-24">
        <div class="flexGrow-1">
          <div class="opacity-6 textStyle-caption1">Montant</div>
          <div class="textStyle-body1">{{income.amount.format()}}</div>
        </div>
        <button MyIconButton (click)="changeAmount()">
          <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
        </button>
      </div>

      <div class="mt-3 d-flex flex-column-gap-24">
        <div class="flex-grow-1">
          <div class="opacity-5 fontSize-12">Raison</div>
          <div>{{income.reason}}</div>
          <div class="opacity-6" *ngIf="!income.reason">Non renseignée</div>
        </div>

        <button MyIconButton (click)="changeReason()">
          <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
        </button>
      </div>

      <div class="mt-3 d-flex flex-column-gap-24">
        <div class="flex-grow-1">
          <div class="opacity-5 fontSize-12">Détails du paiement</div>
          <div>{{income.details}}</div>
          <div class="opacity-6" *ngIf="!income.details">Non renseignée</div>
        </div>
        <button MyIconButton (click)="changeDetails()">
          <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
        </button>
      </div>



      <div class="mt-3" *ngIf="income.agency">
        <div class="opacity-8 fontSize-12">Agence</div>
        <div>{{income.agency.name}}</div>
      </div>

      <div class="mt-3">
        <div class="opacity-8 fontSize-12">Ajouté par {{income.user.fullName }} le {{income.createdAt.moment()}}</div>
      </div>
    </div>
  }
</div>
