<div >
  @if(getIncomeTask.loading) {
    <div class="d-flex align-items-center justify-content-center p-5">
      <mat-spinner [diameter]="64" strokeWidth="2"></mat-spinner>
    </div>
  }

  @if(getIncomeTask.success) {

    <div class="d-flex px-3 mt-4">
      <button (click)="_dialogRef.close()" MyIconButton>
        <lucide-icon [img]="icons.ArrowLeftIcon"></lucide-icon>
      </button>
      <div class="flex-grow-1"></div>

      <div>
        <button MyButton color="warn" (click)="delete()" matTooltip="Supprimer cette dépense">
          <lucide-icon [img]="icons.Trash2Icon"></lucide-icon> Supprimer
        </button>
      </div>
    </div>

    <div class="p-4">
      <div class="d-flex flex-column-gap-24">
        <div class="flex-grow-1">
          <div class="opacity-5 fontSize-12">Montant</div>
          <div>{{income.amount.format()}}</div>
        </div>
        <button MyIconButton (click)="changeAmount()">
          <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
        </button>
      </div>

      <div class="mt-3 d-flex flex-column-gap-24">
        <div class="flex-grow-1">
          <div class="opacity-5 fontSize-12">Raison</div>
          <div>{{income.reason}}</div>
        </div>

        <button MyIconButton (click)="changeReason()">
          <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
        </button>
      </div>

      <div class="mt-3 d-flex flex-column-gap-24">
        <div class="flex-grow-1">
          <div class="opacity-5 fontSize-12">Détails du paiement</div>
          <div>{{income.details}}</div>
        </div>
        <button MyIconButton (click)="changeDetails()">
          <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
        </button>
      </div>



      <div class="mt-3" *ngIf="income.agency">
        <div class="opacity-8 fontSize-12">Agence</div>
        <div>{{income.agency.name}}</div>
      </div>

      <div class="mt-3">
        <div class="opacity-8 fontSize-12">Ajouté par {{income.user.fullName }} le {{income.createdAt.moment()}}</div>
      </div>
    </div>
  }
</div>
