.my-badge {
  font-size: 12px;
  font-weight: 500;
  border-radius: 16px;
  padding: 2px 8px;
  box-sizing: border-box;
  display: inline-block;

  .my-badge-layout {
    align-items: center;
    display: flex;
    gap: 4px;
  }

  &.primary {
    color: var(--my-primaryColor);
    background-color: var(--my-primaryColor-alpha2);
  }

  &.error {
    color: var(--my-errorForegroundColor);
    background-color: var(--my-errorBackgroundColor1);
  }

  &.neutral {
    color: var(--my-OnBackgroundColor);
    background-color: var(--my-OnBackgroundColor-alpha2);
  }

  &.success {
    background-color: var(--my-successBackgroundColor2);
    color: var(--my-successForegroundColor2);
  }

  &.warn {
    color: var(--my-warningColor);
    background-color: var(--my-warningBackgroundColor1);
  }
}

