<div class="p-3 m-3 bg-color-0" *ngIf="agency">
  <div class="fontWeight-semiBold fontSize-22">Paramètres</div>

  <div class="mt-4 d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="fontWeight-semiBold" >Nom</div>
      <div class="ms-opacity-8">{{ agency.name }}</div>
    </div>

    <button mat-button color="primary" (click)="editName()">
      <mat-icon>edit</mat-icon>
     Changer le nom
    </button>
  </div>

  <div class="divider my-3"></div>

  <div>
    <div class="d-flex align-items-center">
      <div class="fontSize-16 fontWeight-semiBold flex-grow-1">Informations</div>
      <button mat-button color="primary" (click)="editInfo()">
        <mat-icon>edit</mat-icon>
        Changer les info
      </button>
    </div>

    <div class="mt-2">
      <div class="fontWeight-semiBold" >Adresse</div>
      <div class="ms-opacity-8">{{ agency.address }}</div>
    </div>

    <div class="mt-2">
      <div class="fontWeight-semiBold" >Code postal</div>
      <div class="ms-opacity-8">{{ agency.postalCode }}</div>
    </div>

    <div class="mt-2">
      <div class="fontWeight-semiBold" >Numéro de téléphone 1</div>
      <div class="ms-opacity-8"> +237 {{ agency.formattedPhoneNumber1 }}</div>
    </div>

    <div class="mt-2">
      <div class="fontWeight-semiBold" >Numéro de téléphone 2</div>
      <div class="ms-opacity-8">+237 {{ agency.formattedPhoneNumber2}}</div>
    </div>
  </div>

  <div class="divider my-3"></div>


  <div class=" d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="fontSize-16 fontWeight-semiBold">Suppression</div>
      <div class="fontColor-140">Supprimer définitivement cette agence</div>
    </div>

    <button mat-flat-button color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
      Supprimer
    </button>
  </div>
</div>
