<div class="p-3 m-3 bg-color-0" *ngIf="agency">
  <div class="fontWeight-semiBold fontSize-22">Paramètres</div>

  <div class="mt-4 d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="fontWeight-semiBold" >Nom</div>
      <div class="ms-opacity-8">{{ agency.name }}</div>
    </div>

    <button mat-button color="primary" (click)="editName()">
      <mat-icon>edit</mat-icon>
      Modifier
    </button>
  </div>

  <div class="divider my-3"></div>

  <div>
    <div class="fontSize-16 fontWeight-semiBold">Informations</div>
    <div >
      <div class="fontWeight-semiBold" >Adresse</div>
      <div class="ms-opacity-8">{{ agency.address }}</div>
    </div>
  </div>

  <div class="divider my-3"></div>


  <div class=" d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="fontSize-16 fontWeight-semiBold">Suppression</div>
      <div class="fontColor-140">Supprimer définitivement cette agence</div>
    </div>

    <button mat-flat-button color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
      Supprimer
    </button>
  </div>
</div>
