.display-flex { display: flex;}
.display-block { display: block;}
.display-inline { display: inline;}
.display-inlineBlock { display: inline-block;}


.alignItems-center { align-items: center }

.justifyContent-center { justify-content: center}

.width-100 { width: 100% }
.height-100 { height: 100%}

.flexGrow-1 { flex-grow: 1}


.position-absolute { position: absolute; }
.position-relative { position: relative; }

.columnGap-2 { column-gap: 2px; }
.columnGap-4 { column-gap: 4px; }
.columnGap-8 { column-gap: 8px; }
.columnGap-12 { column-gap: 12px; }
.columnGap-16 { column-gap: 16px; }
.columnGap-24 { column-gap: 24px; }
.columnGap-32 { column-gap: 32px; }
.columnGap-48 { column-gap: 48px; }
.columnGap-64 { column-gap: 64px; }
.columnGap-96 { column-gap: 96px; }
.columnGap-128 { column-gap: 128px; }
