$ms-color-gray200: #1b1a19;
$ms-color-gray180: #252423;
$ms-color-gray160: #323130;
$ms-color-gray140: #484644;
$ms-color-gray120: #797775;
$ms-color-gray100: #979593;
$ms-color-gray80: #b3b0ad;
$ms-color-gray60: #c8c6c4;
$ms-color-gray40: #e1dfdd;
$ms-color-gray20: #f3f2f1;
$ms-color-gray10: #faf9f8;
$ms-color-gray0: #FFF;

$ms-color-tealDark: #004b50;
$ms-color-teal: #008272;
$ms-color-tealLight: #00B294;
$ms-color-greenDark: #004b1c;
$ms-color-green: #107c10;
$ms-color-greenLight: #bad80a;

$ms-color-cyanBlue-10: #0078d4;
$ms-color-cyanBlue-20: #004e8c;

$ms-color-magentaPink-0: #facee9;
$ms-color-magentaPink-1: #f8b4de;
$ms-color-magentaPink-10: #e3008c;
$ms-color-magentaPink-20: #9b0062;

$ms-color-cyan-10: #00b7c3;
$ms-color-cyan-20: #038387;

$ms-color-red-10: #d13438;
$ms-color-red-20: #a4262c;
$ms-color-pinkRed-20: #750b1c;

:root {
  --my-color-onErrorContainer: #f8acad;
  --my-color-errorContainer: rgba(164, 38, 44, 0.1);
}

.bg-color-0 { background-color: $ms-color-gray0; }
.bg-color-20 { background-color: $ms-color-gray20; }
.bg-color-10 { background-color: $ms-color-gray10; }

.bg-color-20--hover:hover {background-color: $ms-color-gray20;}

.borderColor-20 {border-color: $ms-color-gray20 !important;}
.borderColor-40 {border-color: $ms-color-gray40 !important;}
.borderColor-green {border-color: $ms-color-green !important;}

.fontColor-140 { color: $ms-color-gray140; }
.fontColor-green { color: $ms-color-green; }

.ms-bgColor-cyanBlue-10 { background-color: $ms-color-cyanBlue-10}
.ms-bgColor-cyanBlue-20 { background-color: $ms-color-cyanBlue-20}

.ms-bgColor-cyan-10 { background-color: $ms-color-cyan-10}
.ms-bgColor-cyan-20 { background-color: $ms-color-cyan-20}

.ms-bgColor-magentaPink-0 { background-color: $ms-color-magentaPink-0}
.ms-bgColor-magentaPink-10 { background-color: $ms-color-magentaPink-10}
.ms-bgColor-magentaPink-20 { background-color: $ms-color-magentaPink-20}

.ms-bgColor-red-10 { background-color: $ms-color-red-10}
.ms-bgColor-red-20 { background-color: $ms-color-red-20}
.ms-bgColor-pinkRed-20 { background-color: $ms-color-pinkRed-20}


.ms-bgColor-cyanBlue-10--hover:hover { background-color: $ms-color-cyanBlue-10}
.ms-bgColor-cyanBlue-20--hover:hover { background-color: $ms-color-cyanBlue-20}
.ms-bgColor-cyan-10--hover:hover { background-color: $ms-color-cyan-10}
.ms-bgColor-cyan-20--hover:hover { background-color: $ms-color-cyan-20}
.ms-bgColor-magentaPink-10--hover:hover { background-color: $ms-color-magentaPink-10}
.ms-bgColor-magentaPink-10--hover:hover { background-color: $ms-color-magentaPink-10}
.ms-bgColor-magentaPink-1--hover:hover { background-color: $ms-color-magentaPink-1}
.ms-bgColor-gray20--hover:hover { background-color: $ms-color-gray20}


.ms-color-magentaPink-10 { color: $ms-color-magentaPink-10}
.ms-color-magentaPink-20 { color: $ms-color-magentaPink-20}
.ms-color-red-10 { color: $ms-color-red-10 }
.color-red { color: $ms-color-red-10 }

.divider {
  width: 100%;
  background-color: $ms-color-gray40;
  height: 1px !important;
  padding: 0 !important;
}

.vertical-divider {
  height: 100%;
  display: inline-block;
  content: '';
  background-color: $ms-color-gray40;
  width: 1px !important;
  padding: 0 !important;
}

.border-top {
  border-top: 1px solid;
}

.border-bottom {
  border-bottom: 1px solid;
}

