$ms-color-gray200: #1b1a19;
$ms-color-gray180: #252423;
$ms-color-gray160: #323130;
$ms-color-gray140: #484644;
$ms-color-gray120: #797775;
$ms-color-gray100: #979593;
$ms-color-gray80: #b3b0ad;
$ms-color-gray60: #c8c6c4;
$ms-color-gray40: #e1dfdd;
$ms-color-gray20: #f3f2f1;
$ms-color-gray10: #faf9f8;
$ms-color-gray0: #FFF;

$ms-color-tealDark: #004b50;
$ms-color-teal: #008272;
$ms-color-tealLight: #00B294;
$ms-color-greenDark: #004b1c;
$ms-color-green: #107c10;
$ms-color-greenLight: #bad80a;

$ms-color-cyanBlue-10: #0078d4;
$ms-color-cyanBlue-20: #004e8c;

$ms-color-magentaPink-0: #facee9;
$ms-color-magentaPink-1: #f8b4de;
$ms-color-magentaPink-10: #e3008c;
$ms-color-magentaPink-20: #9b0062;

$ms-color-cyan-10: #00b7c3;
$ms-color-cyan-20: #038387;

$ms-color-red-10: #d13438;
$ms-color-red-20:     #a4262c;
$ms-color-pinkRed-20: #750b1c;

:root {
  --my-color-onErrorContainer: #f8acad;
  --my-color-errorContainer: rgba(164, 38, 44, 0.1);
}

.bg-color-0 { background-color: $ms-color-gray0; }
.bg-color-20 { background-color: $ms-color-gray20; }
.bg-color-10 { background-color: $ms-color-gray10; }

.bg-color-20--hover:hover {background-color: $ms-color-gray20;}

.borderColor-20 {border-color: $ms-color-gray20 !important;}
.borderColor-40 {border-color: $ms-color-gray40 !important;}
.borderColor-green {border-color: $ms-color-green !important;}

.fontColor-140 { color: $ms-color-gray140; }
.fontColor-green { color: $ms-color-green; }

.ms-bgColor-cyanBlue-10 { background-color: $ms-color-cyanBlue-10}
.ms-bgColor-cyanBlue-20 { background-color: $ms-color-cyanBlue-20}

.ms-bgColor-cyan-10 { background-color: $ms-color-cyan-10}
.ms-bgColor-cyan-20 { background-color: $ms-color-cyan-20}

.ms-bgColor-magentaPink-0 { background-color: $ms-color-magentaPink-0}
.ms-bgColor-magentaPink-10 { background-color: $ms-color-magentaPink-10}
.ms-bgColor-magentaPink-20 { background-color: $ms-color-magentaPink-20}

.ms-bgColor-red-10 { background-color: $ms-color-red-10}
.ms-bgColor-red-20 { background-color: $ms-color-red-20}
.ms-bgColor-pinkRed-20 { background-color: $ms-color-pinkRed-20}


.ms-bgColor-cyanBlue-10--hover:hover { background-color: $ms-color-cyanBlue-10}
.ms-bgColor-cyanBlue-20--hover:hover { background-color: $ms-color-cyanBlue-20}
.ms-bgColor-cyan-10--hover:hover { background-color: $ms-color-cyan-10}
.ms-bgColor-cyan-20--hover:hover { background-color: $ms-color-cyan-20}
.ms-bgColor-magentaPink-10--hover:hover { background-color: $ms-color-magentaPink-10}
.ms-bgColor-magentaPink-10--hover:hover { background-color: $ms-color-magentaPink-10}
.ms-bgColor-magentaPink-1--hover:hover { background-color: $ms-color-magentaPink-1}
.ms-bgColor-gray20--hover:hover { background-color: $ms-color-gray20}


.ms-color-magentaPink-10 { color: $ms-color-magentaPink-10}
.ms-color-magentaPink-20 { color: $ms-color-magentaPink-20}
.ms-color-red-10 { color: $ms-color-red-10 }
.color-red { color: $ms-color-red-10 }

.divider {

  box-sizing: border-box;
  background-color: var(--my-dividerColor);
  height: 1px !important;
  padding: 0 !important;
}

.vertical-divider {
  height: 100%;
  display: inline-block;
  content: '';
  background-color: $ms-color-gray40;
  width: 1px !important;
  padding: 0 !important;
}

.border-top {
  border-top: 1px solid;
}

.border-bottom {
  border-bottom: 1px solid;
}

.my-dark-theme {
  --my-primaryColor: rgb(10, 123, 225);
  --my-primaryColor-alpha2: rgba(10, 123, 225, 0.2);
  --my-linkColor: #0078d4;
  --my-backgroundColor: #000;
  --my-dividerColor: #252423;
  --my-backgroundColor__hover: #252423;

  --my-OnBackgroundColor: #faf9f8;
  --my-OnBackgroundColor-alpha2: rgba(250, 249, 248, 0.2);
  --my-SurfaceColor: #1d1d1d;
  --my-SurfaceColor__hover: #151515;
  --my-OnSurfaceColor: #faf9f8;
  --my-CardBorderColor: #252423;
  --my-CardBorderColor__hover: #323130;

  --my-warnColor: #a4262c;
  --my-warnColor-alpha2: rgba(164, 38, 44, 0.2);
  --my-warnColor__hover: #750b1c;
  --my-onWarnColor:  #faf9f8;

  --my-successForegroundColor: #54b054;
  --my-successForegroundColor1: #54b054;
  --my-successForegroundColor2: #9fd89f;
  --my-successForegroundColor3: #9fd89f;
  --my-successBackgroundColor: #052505;
  --my-successBackgroundColor1: #052505;
  --my-successBackgroundColor2: #094509;
  --my-successBackgroundColor3: #107c10;


  --my-successColor: #107c10;
  --my-successColor__hover: #066406;
  --my-successColor-alpha2: rgba(16, 124, 16, 0.2);

  --my-warningColor: #da6410;
  --my-warningColor-alpha2: rgba(218, 100, 16, 0.2);

  --my-errorForegroundColor: #dc626d;
  --my-errorForegroundColor1: #dc626d;
  --my-errorForegroundColor2: #eeacb2;
  --my-errorForegroundColor3: #eeacb2;
  --my-errorForegroundInverted: #b10e1c;
  --my-errorBackgroundColor1: #3b0509;
  --my-errorBackgroundColor2: #6e0811;
  --my-errorBackgroundColor3: #c50f1f;

  --my-warningForegroundColor: #faa06b;
  --my-warningForegroundColor1: #faa06b;
  --my-warningForegroundColor2: #fdcfb4;
  --my-warningForegroundColor3: #f98845;
  --my-warningForegroundInverted: #bc4b09;
  --my-warningBackgroundColor1: #4a1e04;
  --my-warningBackgroundColor2: #8a3707;
  --my-warningBackgroundColor3: #f7630c;

}

.my-light-theme {
  --my-backgroundColor: #1b1a19;

  --my-card-border-color: #e1dfdd;
}

.surface {
  background-color: var(--my-SurfaceColor);
  color: var(--my-OnSurfaceColor);

  &.hover:hover {
    background-color: var(--my-SurfaceColor__hover);
  }
}

.warn {
  background-color: var(--my-warnColor);
  color: var(--my-onWarnColor)
}

.warn-text {
  color: var(--my-errorForegroundColor1);
}


.success-color-1 { color: var(--my-successForegroundColor1); }
.success-color-2 { color: var(--my-successForegroundColor2); }
.success-color-3 { color: var(--my-successForegroundColor3); }

.error-color-1 { color: var(--my-errorForegroundColor1); }
.error-color-2 { color: var(--my-errorForegroundColor2); }
.error-color-3 { color: var(--my-errorForegroundColor3); }

.warn-color-1 { color: var(--my-warningForegroundColor1); }
.warn-color-2 { color: var(--my-warningForegroundColor2); }
.warn-color-3 { color: var(--my-warningForegroundColor3); }

.warn-backgroundColor-1 { color: var(--my-warningBackgroundColor1); }
.warn-backgroundColor-2 { color: var(--my-warningBackgroundColor2); }
.warn-backgroundColor-3 { color: var(--my-warningBackgroundColor3); }
