.fontSize-18 { font-size: 18px; }
.fontSize-16 { font-size: 16px; }
.fontSize-14 { font-size: 14px; }

.fontSize-20 { font-size: 20px; }

.fontSize-22 {
  font-size: 22px;
}

.fontWeight-semiBold {
  font-weight: 500;
}

.title-20 {
  font-size: 20px;
  font-weight: 500;
}

.title-18 {
  font-size: 18px;
  font-weight: 500;
}

.title-16 {
  font-size: 16px;
  font-weight: 500;
}

.br-8 { border-radius: 8px; }
.br-4 { border-radius: 4px; }
