.th-scaffold {
  display: block;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--my-backgroundColor);
}

.th-scaffold-container {
  height: 100%;
  box-sizing: border-box;
  background-color: var(--my-backgroundColor);

  & mat-toolbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  & .th-scaffold-container-body {
    background-color: var(--my-backgroundColor);
    position: absolute;
    z-index: 1;
    top: 64px;
    bottom: 0;
    left:0;
    right: 0;
  }
}
