.th-scaffold {
  display: block;
  box-sizing: border-box;
  height: 100%;

}

.th-scaffold-container {
  height: 100%;
  box-sizing: border-box;

  & mat-toolbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  & .th-scaffold-container-body {
    position: absolute;
    z-index: 1;
    top: 52px;
    bottom: 0;
    left:0;
    right: 0;
  }
}
