:root {
  --my-select-field-label-color: #b3b0ad;
  --my-select-field-label-color__focused: #0A78D5;
  --my-select-field-label-font-size: 14px;
  --my-select-field-label-font-size__focused: 12px;
}

.my-select-field {
  display: block;
  min-width: 64px;
  position: relative;
  //border: 1px solid blue;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-select-field-label-box {
  //border: 1px solid red;
  position: absolute;
  left: 0;
  bottom: 4px;
  color: var(--my-select-field-label-color);
  font-size: var(--my-select-field-label-font-size);
  font-weight: 500;
  height: 20px;
  width: 100%;
  text-overflow: ellipsis;
  transition: font-size 200ms ease-in-out, bottom 200ms ease-in-out;

  &.focused {
    color: #0A78D5;
  }

  &.floating {
    font-size: 12px;

    bottom: 20px;
  }
}

.my-select-field-content {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--my-select-field-label-font-size);
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 4px;
  height: 20px;
  background: transparent;
  box-sizing: border-box;


  .my-select-field-content-value {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;
  }
}


.my-select-field-underline {
  height: .5px;
  border: none;
  background-color: #707070;
  left: 0;
  bottom: 2px;
  width: 100%;
  position: absolute;
  z-index: 4;

  transition: height 200ms ease-in-out;

  &.focused {
    height: 1px;
    background-color: #0A78D5;
  }
}



.my-select-field-content-trigger {
  stroke: var(--my-text-field-stroke-color);
}
