<div class="p-4" *ngIf="procedure">
  <div class="fontWeight-semiBold fontSize-22" >Paramètres</div>

  <div class="mt-4 d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="fontSize-12 opacity-6">Nom</div>
      <div class="fontWeight-semiBold">{{ procedure.name }}</div>
    </div>

    <button MyButton class="alpha-primary" (click)="editName()">
      <lucide-angular [img]="icons.PencilIcon"></lucide-angular>
      Modifier
    </button>
  </div>

  <div class="divider my-3"></div>

  <div class=" d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="fontSize-12 opacity-6">Description</div>
      <div class="opacity-8">{{ procedure.description }}</div>
    </div>

    <button MyButton class="alpha-primary" (click)="editDescription()">
      <lucide-angular [img]="icons.PencilIcon"></lucide-angular>
      Modifier
    </button>
  </div>

  <div class="divider my-3"></div>

  <div>
    <div class="d-flex">
      <div class="flex-grow-1">
        <div class="fontSize-16 fontWeight-semiBold">Étapes</div>
        <div class="opacity-8">Cliquez sur une étape pour la modifier</div>
      </div>

      <button MyButton class="alpha-primary" (click)="addStep()">
        <lucide-angular [img]="icons.PlusIcon"></lucide-angular>
        Ajouter une étape
      </button>

    </div>

    <div class="mt-4" cdkDropList (cdkDropListDropped)="onDragStep($event)">
      <div class="mt-3 surface hover  procedure-step-item d-flex align-items-center cursor-pointer"
           *ngFor="let step of steps" (click)="openStepSettings(step)" cdkDrag>


        <div style="font-size: 32px; font-weight: 500">{{step.index + 1}}</div>

        <div class="ms-3 flex-grow-1">
          <div class="fontWeight-semiBold">{{step.name}}</div>
          <div>{{step.price.format() }} </div>
          <div>{{step.description}}</div>
        </div>

      </div>
    </div>

  </div>


  <div class="divider my-3"></div>


  <div class=" d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="fontSize-16 fontWeight-semiBold">Suppréssion</div>
      <div class="opacity-8">Supprimer définitivement cette procédure</div>
    </div>

    <button MyButton class="warn" (click)="delete()">
      <lucide-angular [img]="icons.Trash2Icon"></lucide-angular>
      Supprimer
    </button>
  </div>
</div>
