<div class="fontWeight-semiBold fontSize-20 p-4">Ajouter une dette</div>


<div class="px-4" [formGroup]="formGroup">

  <div *ngIf="agency">
    <div class="opacity-8 fontSize-12">Agence</div>
    <div>{{agency.name}}</div>
  </div>

  <div class="w-100 mt-3">
    <div class="opacity-8">Client</div>
    <div style="background-color: var(--my-SurfaceColor); padding: 8px; border-radius: 8px;
      display: flex; align-items: center; cursor: pointer" tabindex="1" class="mt-1" (click)="selectCustomer($event)">
      <div class="flex-grow-1">
        <div *ngIf="customer"  >{{ customer.fullName }}</div>
        <div *ngIf="!customer" class="opacity-5">Choisir un client</div>
      </div>

      <lucide-angular class="opacity-5" [img]="icons.ChevronDownIcon"></lucide-angular>
    </div>
  </div>


  <TextField class="mt-2" style="width: 100%">
    <label TextFieldLabel for="amount-field">Montant de la dette</label>
    <input CleaveNumberInput TextFieldInput formControlName="amount" id="amount-field" required>
  </TextField>

  <TextField class="mt-2" style="width: 100%">
    <label TextFieldLabel for="reason-field">Raison</label>
    <textarea TextFieldInput formControlName="reason" id="reason-field"></textarea>
  </TextField>

  <TextField class="flex-grow-1 w-100 marginTop-12">
    <label TextFieldLabel for="expire-at-field">Date butoir</label>
    <input TextFieldInput CleaveDateInput placeholder="JJ/MM/AAAA" formControlName="expireAt"
           id="expire-at-field">
  </TextField>

</div>

<div class="p-4 align-end">
  <button MyButton (click)="_dialogRef.close()" class="me-3">Annuler</button>
  <button MyButton color="primary" (click)="validate()" [disabled]="formGroup.invalid && addTask.loading">
    @if(addTask.loading) {  <mat-spinner diameter="16" strokeWidth="1"></mat-spinner> }
    Ajouter la dette</button>
</div>
