<th-scaffold>
  <mat-sidenav-container style="height: 100%">
    <mat-sidenav mode="side" [opened]="true">

      <div class="sidenav-content" style="">
        <div class="d-flex align-items-center py-3" style="padding-left: 16px">
          <lucide-icon [img]="icons.BuildingIcon" [size]="32"></lucide-icon>
          <div class="ms-3">
            <div class="fontSize-16 fontWeight-semiBold" *ngIf="space">{{space.name}}</div>
            <div class="fontSize-12" style="opacity: .6;">Espace</div>
          </div>
        </div>


        <th-nav style="padding: 4px" class="mt-2">


          <a href="#" th-nav-item [routerLink]="['/spaces', space?.identifier, 'customers']">
            <lucide-icon [img]="icons.UsersIcon" th-nav-item-icon  strokeWidth="1.75"></lucide-icon>
            <span>Clients</span>
          </a>

          <a href="#" th-nav-item routerLink="procedures">
            <lucide-icon [img]="icons.FileTextIcon" th-nav-item-icon  strokeWidth="1.75"></lucide-icon>
            Procédures
          </a>

          <a href="#" th-nav-item routerLink="procedure-applies">
            <lucide-icon [img]="icons.WalletCardsIcon" th-nav-item-icon  strokeWidth="1.75"></lucide-icon>
            Procédures en cours
          </a>

          <a routerLink="plane-tickets" th-nav-item>
            <lucide-icon [img]="icons.TicketsPlaneIcon" th-nav-item-icon  strokeWidth="1.75"></lucide-icon>
            Billets d'avion</a>
          <a routerLink="payments" th-nav-item>
            <lucide-icon [img]="icons.DollarSignIcon" th-nav-item-icon  strokeWidth="1.5"></lucide-icon>
            Paiements</a>



          <a routerLink="events" th-nav-item>
            <lucide-icon [img]="icons.HistoryIcon" th-nav-item-icon  strokeWidth="1.5"></lucide-icon>
            Historique</a>

          <a th-nav-item routerLink="members">
            <lucide-icon [img]="icons.UsersIcon" th-nav-item-icon  strokeWidth="2"></lucide-icon>
            Membres</a>

          <a routerLink="settings" th-nav-item>
            <lucide-icon [img]="icons.SettingsIcon" th-nav-item-icon  strokeWidth="1.5"></lucide-icon>
            Paramètres</a>

          <DIV class="divider m-2"></DIV>

          <div>
            <div class="ms-3 py-2 fontWeight-semiBold fontSize-12">Agences</div>
            <a [routerLink]="['/agencies', agency.id]" th-nav-item *ngFor="let agency of agencies">
              {{agency.name}}</a>
          </div>
        </th-nav>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      @if (space){
        <router-outlet></router-outlet>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</th-scaffold>
