.menu-drawer {
  display: block;
  padding: 8px;
  background-color: rgba(0,0,0, 0.7);
}

.menu-drawer-item {
  height: 42px;
  width: 100%;
  color: inherit !important;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 0 16px;
  font-family: "Helvetica Neue", "Inter", sans-serif;

  &:hover {
    background-color: rgba(10, 120, 213, 0.3);
  }

  &.active {
    background-color: rgba(10, 120, 213, 0.8);
  }
}

.menu-drawer-item-layout {
  display: flex;
  align-items: center;
  width: 100%;

  lucide-icon {
    stroke: #FFFFFF;
  }
}

.menu-item-countBadge {
  color: #F9F9F9;
  font-size: 12px;
  font-weight: 500;
}
