<div class="fontWeight-semiBold fontSize-20 p-4">Changer le nom de l'agence</div>



<div class="px-4">
    <TextField  style="width: 100%">
      <label for="name-field" TextFieldLabel>Nom de l'agence</label>
      <input type="text" TextFieldInput [formControl]="formControl" id="name-field">
    </TextField>
</div>

<div class="p-4 align-end">
  <button MyButton (click)="_dialogRef.close()" class="me-3">Annuler</button>
  <button MyButton color="primary" (click)="changeName()">Modifier</button>
</div>
