<div>
  <TabRow #tabRow [selectedIndex]="0">
    <button TabRowItem
            (click)="tabRow.selectIndex(0, true); pager.selectIndex(0)"
            (mouseenter)="tabRow.activateHover(0)"
            (mouseleave)="tabRow.deactivateHover()"
            [active] = "tabRow.selectedIndex == 0"
    >Vue d'ensemble
    </button>
    <button TabRowItem
            (click)="tabRow.selectIndex(1, true); pager.selectIndex(1)"
            (mouseenter)="tabRow.activateHover(1)"
            (mouseleave)="tabRow.deactivateHover()"
            [active] = "tabRow.selectedIndex == 1"
    >Paiements
    </button>

    <button TabRowItem
            (click)="tabRow.selectIndex(2, true); pager.selectIndex(2)"
            (mouseenter)="tabRow.activateHover(2)"
            (mouseleave)="tabRow.deactivateHover()"
            [active] = "tabRow.selectedIndex == 2"
    >Historique
    </button>
  </TabRow>
</div>

<HorizontalPager #pager [selectedIndex]="0">
  <div *PageDef>
    <div DebtDetails [debt]="debt"></div>
  </div>
  <div *PageDef class="p-3">

    <IncomeList [params]="{elementId: debt.elementId, ownerId : debt.debtOwners[0].ownerId}" mode="card"></IncomeList>
  </div>


  <div *PageDef class="p-3">
    <div class="surface padding-24 borderRadius-8 fontSize-18">
      Informations non disponibles.
    </div>
  </div>
</HorizontalPager>
