<dl class="description-list">
  <dt>Procédure</dt>
  <dd>
    <a [routerLink]="['/admin', procedureApply.space?.identifier, 'procedures', procedureApply.procedureId]">
      {{ procedureApply.procedure.name }}
    </a>
  </dd>

  <dt>Client</dt>
  <dd>
    <a [routerLink]="['/admin', procedureApply.space?.identifier, 'customers', procedureApply.customerId]">
    {{ procedureApply.customer.fullName }}
    </a>
  </dd>

  <dt>Date d'engagement</dt>
  <dd>{{ procedureApply.createdAt.toFormat('ff') }}</dd>

</dl>

<div *ngIf="procedureApply.steps" class="mt-4">
  <div class="fontSize-18 fontWeight-semiBold">Étapes</div>

  <div class="mt-3 br-4 p-3  divLink d-flex align-items-center surface hover cursor-pointer flex-column-gap-24"
       *ngFor="let applyStep of procedureApply.steps"
       (click)="openDetails(applyStep)"
  >

    <div class="fontWeight-semiBold fontSize-22">
      {{applyStep.procedureStep.index}}
    </div>

    <div>
      <div class="fontWeight-semiBold fontSize-16">
        {{ applyStep.procedureStep?.name }}
      </div>
      <div *ngIf="applyStep.validated">
        {{ applyStep.totalPayment.format() }}
      </div>

      <div *ngIf="!applyStep.validated">
        <span class="inline-badge ms-bgColor-cyan-10">En attente</span>
      </div>
    </div>
  </div>

</div>

