<div class="d-flex justify-content-center p-3" *ngIf="getPlaneTicketTask.loading">
  <mat-spinner strokeWidth="2" diameter="48"></mat-spinner>
</div>

@if(getPlaneTicketTask.success) {


  <div class="my-2 d-flex">
    <div class="flex-grow-1">
      <button MyIconButton (click)="location.back()">
        <lucide-icon [img]="icons.ArrowLeftIcon"></lucide-icon>
      </button>
    </div>

    <button #menuTrigger  MyButton class="alpha-primary"
             (click)="dropdown.open(); $event.stopPropagation()">
      <lucide-angular [img]="icons.DollarSignIcon"  ></lucide-angular>
      Ajouter
      <lucide-angular [img]="icons.ChevronDownIcon"  ></lucide-angular>
    </button>

    <Dropdown #dropdown [trigger]="menuTrigger.host"
              (onBackdropClick)="dropdown.close()">
      <MyMenu>
        <button MenuItem (click)="addIncome()" >
          <lucide-icon [img]="icons.DollarSignIcon"></lucide-icon> Ajouter un revenu
        </button>
        <button MenuItem (click)="addExpense()">
          <lucide-icon [img]="icons.WalletIcon"></lucide-icon> Ajouter une dépense
        </button>

        <button MenuItem (click)="addDebt()">
          <lucide-icon [img]="icons.HandCoinsIcon"></lucide-icon> Ajouter une dette
        </button>

      </MyMenu>
    </Dropdown>

    <div class="vertical-divider mx-3"></div>

    <button MyButton (click)="edit()" >
      <lucide-angular [img]="icons.PencilIcon" ></lucide-angular>
      Modifier
    </button>

    <button (click)="delete()" MyButton color="error" class="ml-3">
      <lucide-angular [img]="icons.Trash2Icon"  ></lucide-angular>
      Supprimer
    </button>




  </div>

  <div class="fontSize-22 marginStart-12 marginTop-8">Billet d'avion</div>

  <div class="marginTop-8" PlaneTicketPager [planeTicket]="planeTicket"></div>


}
