<div class="bg-color-0 px-4">

  <breadcrumb class="my-3" [items]="breadcrumbItems"></breadcrumb>
  <div class="divider my-3"></div>
  <div>
    <a MyButton class="primary" [routerLink]="['/agencies', agency.id, 'plane-tickets', 'add']">
      <mat-icon>add</mat-icon>
      Ajouter un billet d'avion </a>
  </div>
  <div class="divider my-3"></div>

  <PlaneTicketList [params]="{agencyId:agency.id}"
                   (rowClick)="onClick($event)"
                   [displayedColumns]=" [ 'customer']"
  ></PlaneTicketList>
</div>
