<div class="p-4">

  <div class="d-flex align-items-center">
    <div class="fontSize-22 fontWeight-semiBold flex-grow-1">Billets d'avions</div>
    <button MyButton class="primary" (click)="addPlaneTicket()">
      <lucide-icon [img]="icons.PlusIcon"></lucide-icon>
      Ajouter un billet d'avion </button>
  </div>

  <PlaneTicketList class=" d-block mt-3" [params]="{ agencyId:agency.id }"
                   (rowClick)="onClick($event)"
                   [displayedColumns]=" [ 'customer']"
  ></PlaneTicketList>
</div>
