<div class="padding-24 display-flex">
  <div class="textStyle-title3 flexGrow-1">Photo de profil</div>
  <button MyIconButton (click)="parent.close()">
    <lucide-icon [img]="icons.XIcon"></lucide-icon>
  </button>
</div>

<div class="paddingHorizontal-24">
  <div class="textStyle-body1">
    Votre photo de profil aide les autres utilisateurs à
    vous reconnaître et vous permet de savoir quand vous êtes connecté à votre compte
  </div>


  <div class="display-flex justifyContent-center padding-32">
    @if (user){
      <UserPersona [user]="user" size="180"></UserPersona>
    }

  </div>

</div>
@if (!user.hasPhoto()) {
  <div class="padding-24">
    <button MyButton appearance="tonal" class="color-primary" style="width: 100%" (click)="next()">
      <lucide-icon [img]="icons.ImagePlus"></lucide-icon>
      Ajouter une photo de profil
    </button>
  </div>
}

@if (user.hasPhoto()) {
  <div class="padding-24 display-flex columnGap-24">
    <button MyButton appearance="tonal" class="color-primary" style="width: 100%"   (click)="next()">
      <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
      Modifier
    </button>

    <button MyButton appearance="tonal" class="color-primary" style="width: 100%"  (click)="next()">
      <lucide-icon [img]="icons.Trash2Icon"></lucide-icon>
      Supprimer
    </button>

  </div>
}
