<div class="fontWeight-semiBold fontSize-20 p-4">Ajouter une agence</div>


<div class="px-4" [formGroup]="formGroup">
    <TextField style="width: 100%">
      <label TextFieldLabel for="name-field">Nom de l'agence</label>
      <input TextFieldInput formControlName="name" required id="name-field">
    </TextField>

  <TextField style="width: 100%">
    <label TextFieldLabel for="address-field">Adresse</label>
    <input TextFieldInput formControlName="address" required id="address-field">
  </TextField>

  <TextField style="width: 100%">
    <label TextFieldLabel for="postalCode-field">Code postal</label>
    <input TextFieldInput formControlName="postalCode" required id="postalCode-field">
  </TextField>

  <TextField style="width: 100%">
    <label TextFieldLabel for="phoneNumber1-field">Numéro de téléphone 1</label>
    <input TextFieldInput CleavePhoneNumberInput formControlName="phoneNumber1" required id="phoneNumber1-field">
  </TextField>

  <TextField style="width: 100%">
    <label TextFieldLabel for="phoneNumber2-field">Numéro de téléphone 2</label>
    <input TextFieldInput CleavePhoneNumberInput formControlName="phoneNumber2" required id="phoneNumber2-field">
  </TextField>

</div>

<div class="p-4 align-end">
  <button MyButton (click)="dialogRef.close()" class="me-4">Annuler</button>
  <button MyButton class="primary" [disabled]="formGroup.invalid" (click)="add()">Ajouter</button>
</div>
