<div class="p-4">
  <div class="d-flex">
    <div>
      <img src="/assets/icons/icons8-delete-48.png" alt="">
    </div>
    <div class="ps-3">
      <div class="fontWeight-semiBold fontSize-20">Supprimer un membre</div>
      <div class="opacity-8">
        Voulez-vous supprimer ce membre de l'agence ?
      </div>
    </div>
  </div>

  <div class="mt-3 align-end">
    <button MyButton (click)="_dialogRef.close()" class="me-3">Annuler</button>
    <button MyButton color="warn" (click)="delete()">Supprimer</button>
  </div>
</div>
