<div class="fontWeight-semiBold fontSize-20 p-4">Ajouter une dette</div>


<div class="px-4" [formGroup]="formGroup">

  <TextField class="mt-2" style="width: 100%">
    <label TextFieldLabel for="amount-field">Montant de la dette</label>
    <input CleaveNumberInput TextFieldInput formControlName="amount" id="amount-field" required>
  </TextField>

  <TextField class="mt-2" style="width: 100%">
    <label TextFieldLabel for="reason-field">Raison</label>
    <textarea TextFieldInput formControlName="reason" id="reason-field"></textarea>
  </TextField>

  <TextField class="flex-grow-1 w-100 marginTop-12">
    <label TextFieldLabel for="expire-at-field">Date butoir</label>
    <input TextFieldInput CleaveDateInput placeholder="JJ/MM/AAAA" formControlName="expireAt"
           id="expire-at-field">
  </TextField>

</div>

<div class="p-4 align-end">
  <button MyButton (click)="_dialogRef.close()" class="me-3">Annuler</button>
  <button MyButton color="primary" (click)="add()" [disabled]="formGroup.invalid && addTask.loading">
    @if(addTask.loading) {  <mat-spinner diameter="16" strokeWidth="1"></mat-spinner> }
    Ajouter la dette</button>
</div>
