<div class="p-3" style="width: 640px">
  <div class="d-flex align-items-center py-3">
    <div class="fontWeight-semiBold fontSize-20 mb-3">Ajouter un client</div>
    <span class="flex-grow-1"></span>

    <div>
      <button MyIconButton class="me-2" (click)="clear()">
        <lucide-angular [img]="icons.EraserIcon" ></lucide-angular>
      </button>
      <button MyButton class="primary" (click)="add()">Ajouter le client</button>
    </div>

  </div>


  <CustomerForm [formGroup]="formGroup"></CustomerForm>

</div>
