<div class="p-4">
  <div class="d-flex">
    <div class="flex-grow-1 fontSize-22">Paramètres de la dette</div>
    <button MyIconButton (click)="_dialogRef.close()">
      <lucide-icon [img]="icons.XIcon"></lucide-icon>
    </button>
  </div>


  @if(debt) {
    <div class="d-flex flex-column-gap-24 marginTop-16">
      <div class="flex-grow-1">
        <div class="fontSize-12">Montant</div>
        <div class="opacity-8">{{ debt.amount.format() }}</div>
      </div>
      <button MyIconButton (click)="changeAmount()">
        <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
      </button>
    </div>

    <div class="marginTop-16 d-flex flex-column-gap-24">
      <div class="flex-grow-1">
        <div class="opacity-5 fontSize-12">Raison</div>
        <div class="opacity-6 " *ngIf="!debt.reason">Non renseignée</div>
        <div>{{ debt.reason }}</div>
      </div>

      <button MyIconButton (click)="changeReason()">
        <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
      </button>
    </div>


    <div class="marginTop-16 d-flex flex-column-gap-24">
      <div class="flex-grow-1">
        <div class="opacity-5 fontSize-12">Date butoir</div>
        <div class="opacity-6 " *ngIf="!debt.expireAt">Non renseignée</div>
        <div>{{ debt.expireAt?.toFormat('DD') }}</div>
      </div>

      <button MyIconButton (click)="changeExpireAt()">
        <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
      </button>
    </div>


    <div class="marginTop-16 d-flex flex-column-gap-24">
      <div class="flex-grow-1">
        <div class="opacity-5 fontSize-12">Contractée le</div>
        <div class="opacity-6 " *ngIf="!debt.doneAt">Non renseignée</div>
        <div>{{ debt.doneAt?.toFormat('DD') }}</div>
      </div>

      <button MyIconButton (click)="changeReason()">
        <lucide-icon [img]="icons.PencilIcon"></lucide-icon>
      </button>
    </div>


    <div class="mt-3" *ngIf="debt.agency">
      <div class="opacity-8 fontSize-12">Agence</div>
      <div>{{ debt.agency.name }}</div>
    </div>
  }


</div>
