<div style="background-color: var(--my-backgroundColor); border: 1px solid var(--my-dividerColor)">
  <div class="fontWeight-semiBold fontSize-20 p-4">Ajouter un paiement pour le billet</div>



  <div class="px-4">
    <TextField class="w-100">
      <label for="amount" TextFieldLabel>Montant versé</label>
      <input type="text" TextFieldInput id="amount" CleaveNumberInput
             [formControl]="formControl"
      >
    </TextField>
  </div>

  <div class="p-4 align-end">
    <button MyButton mat-dialog-close="" class="me-4">Annuler</button>
    <button MyButton class="primary" (click)="addPayment()">Ajouter</button>
  </div>

</div>
