<div >

  <div class="d-flex justify-content-center p-5" *ngIf="getFirstRangeTask.loading">
    <mat-spinner diameter="48" strokeWidth="2"></mat-spinner>
  </div>
  <div  *ngFor="let event of events"  matRipple>
    <div event-item [event]="event" class="p-2 bg-color-20--hover cursor-pointer"
    style="border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; box-sizing: border-box"></div>
  </div>



  <div *ngIf="!hasMore && getFirstRangeTask.success" class="end-list-thumb"></div>
  <div class="range-observer-thumb" #rangeObserverThumb ></div>
  <div class="d-flex justify-content-center p-3" *ngIf="getRangeTask.loading">
    <mat-spinner strokeWidth="2" diameter="48"></mat-spinner>
  </div>
</div>
