<div class="d-flex justify-content-center p-5" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <table class="my-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Code</th>
        <th>Montant</th>
        <th>Raison</th>
        <th>Client</th>
        <th>Agence</th>
        <th>Ajouté par</th>
        <th>Ajouté le</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let payment of payments; let i=index">
        <td>{{i}}</td>
        <td>{{payment.code}}</td>
        <td>{{payment.amount.amount | currency: payment.amount.currency}}</td>
        <td>
          <a *ngIf="payment.planeTicketId"
             routerLink="/agencies/{{payment.agencyId}}/plane-tickets/{{payment.planeTicketId}}"
             class="inline-badge ms-bgColor-cyan-10 ms-bgColor-cyan-20--hover">
            Billet d'avion N°{{payment.planeTicketId}}
          </a>

          <a *ngIf="payment.procedureApplyStep" routerLink="/agencies/{{payment.agencyId}}/procedure-applies/{{payment.procedureApplyStep?.procedureApplyId}}"
             class="link-inherit ">
            <div class="p-2 br-4 fontSize-14 ms-color-magentaPink-10 ms-bgColor-magentaPink-0 ms-bgColor-magentaPink-1--hover">
              Procédure <span class="fontWeight-bold">{{payment.procedureApplyStep?.procedureStep?.name}} </span>
              :
              {{payment.procedureApplyStep?.procedureStep?.name}}
            </div>
          </a>

          {{payment.reason}}
        </td>

        <td>{{payment.customer?.fullName}}</td>
        <td>{{payment.agency?.name}}</td>
        <td>{{payment.employee?.user?.fullName}}</td>
        <td>
          <span class="fontSize-12">{{payment.createdAt.toFormat('ff')}}</span>
        </td>
        <td>

        </td>
      </tr>
    </tbody>
  </table>
</div>




