<div #container>
  <div class="d-flex justify-content-center p-5" *ngIf="getFirstRangeTask.loading">
    <mat-spinner diameter="48" strokeWidth="2"></mat-spinner>
  </div>

  <div *ngIf="!getFirstRangeTask.loading">
    <table class="my-table dark my-light-theme">
      <thead>
      <tr>
        <th>#</th>
        <th>Code</th>
        <th>
          <button class="th-button-1">
            Montant
          </button>
        </th>
        <th *ngIf="display('reason')">Raison</th>
        <th *ngIf="display('customer')">
          <button class="th-button-1">Client</button>
        </th>
        <th *ngIf="display('agency')">Agence</th>
        <th *ngIf="display('employee')">
          Ajouté par
        </th>
        <th *ngIf="display('createdAt')">
          <button class="th-button-1" (click)="changeOrderBy('ID')">
            Ajouté le
            <span *ngIf="orderby[0] == 'ID'" class="ps-2">
            <lucide-angular *ngIf="orderby[1] == 'ASC'" name="move-up" class="my-icon" size="16"></lucide-angular>
            <lucide-angular *ngIf="orderby[1] == 'DESC'" name="move-down" class="my-icon" size="16"></lucide-angular>
              </span>
          </button>
        </th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let payment of payments; let i=index; trackBy: trackById" class="row-hover cursor-pointer">
        <td>{{ i + 1 }}</td>
        <td>{{ payment.code }}</td>
        <td>{{ payment.amount.amount | currency: payment.amount.currency : 'symbol' : '1.0-0' : 'fr' }}</td>
        <td *ngIf="display('reason')">
          <a *ngIf="payment.planeTicketId"
             routerLink="/agencies/{{payment.agencyId}}/plane-tickets/{{payment.planeTicketId}}"
             class="inline-badge ms-bgColor-cyan-10 ms-bgColor-cyan-20--hover">
            Billet d'avion N°{{ payment.planeTicketId }}
          </a>

          <a *ngIf="payment.procedureApplyStep"
             routerLink="/agencies/{{payment.agencyId}}/procedure-applies/{{payment.procedureApplyStep?.procedureApplyId}}"
             class="link-inherit ">
            <div
              class="p-2 br-4 fontSize-14 ms-color-magentaPink-10 ms-bgColor-magentaPink-0 ms-bgColor-magentaPink-1--hover">
              Procédure <span class="fontWeight-bold">{{ payment.procedureApplyStep?.procedureStep?.name }} </span>
              :
              {{ payment.procedureApplyStep?.procedureStep?.name }}
            </div>
          </a>

          {{ payment.reason }}
        </td>

        <td *ngIf="display('customer')">{{ payment.customer?.fullName }}</td>
        <td *ngIf="display('agency')">{{ payment.agency?.name }}</td>
        <td *ngIf="display('employee')">{{ payment.employee?.user?.fullName }}</td>
        <td *ngIf="display('createdAt')">
          <span class="fontSize-12">{{ payment.createdAt.moment() }}</span>
        </td>
        <td>
          <button MyIconButton style="margin-right: 16px" #menuTrigger
                  (click)="dropdown.open(); $event.stopPropagation()">
            <lucide-angular  [img]="icons.EllipsisVertical"  size="16"></lucide-angular>
          </button>

          <Dropdown #dropdown [trigger]="menuTrigger.host"
                    (onBackdropClick)="dropdown.close()">
            <MyMenu class="my-light-theme">
              <button MenuItem (click)="printPDF(payment)">
                <img src="/assets/icons/pdf-svgrepo-com.svg" alt="PdfIcon" height="24">
                Imprimer
              </button>


              <button MenuItem (click)="delete(payment)">
                <lucide-icon [img]="icons.Trash2"  strokeWidth="1.5"></lucide-icon>
                Supprimer </button>
            </MyMenu>
          </Dropdown>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!hasMore && getFirstRangeTask.success" class="end-list-thumb"></div>
  <div class="range-observer-thumb" #rangeObserverThumb ></div>
  <div class="d-flex justify-content-center p-3" *ngIf="getRangeTask.loading">
    <mat-spinner strokeWidth="2" diameter="48"></mat-spinner>
  </div>
</div>
