<div class="fontWeight-semiBold fontSize-20 p-4">Ajouter un paiement</div>


<div class="px-4" [formGroup]="formGroup">
  <mat-form-field class="w-100">
    <mat-label>Client</mat-label>
    <input type="text" matInput [value]="customer?.fullName" placeholder="Choisir un client" (click)="selectCustomer($event)">
  </mat-form-field>


    <mat-form-field style="width: 100%">
      <mat-label>Montant versé</mat-label>
      <input  CleaveNumberInput  matInput formControlName="amount" required>
    </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-label>Raison du paiement</mat-label>
    <textarea  matInput formControlName="reason"></textarea>
  </mat-form-field>
</div>

<div class="p-4 align-end">
  <button mat-button mat-dialog-close="" class="me-4">Annuler</button>
  <button mat-flat-button color="primary" [disabled]="formGroup.invalid" (click)="validate()">Ajouter</button>
</div>
