<div class="d-flex align-items-center mb-3">
  <a (click)="back()" MyIconButton class="me-2">
    <lucide-icon [img]="icons.ChevronLeftIcon"></lucide-icon>
  </a>

  <div style="font-size: 16px; font-weight: 500">Créer un nouveau mot de passe</div>
</div>

<form [formGroup]="formGroup">
  <div>
    <TextField>
      <label for="password-field" TextFieldLabel>Nouveau mot de passe</label>
      <input [type]="inputType" TextFieldInput formControlName="password" id="password-field">
    </TextField>
  </div>

  <div>
    <TextField>
      <label TextFieldLabel>Confirmer le mot de passe</label>
      <input [type]="inputType" TextFieldInput formControlName="passwordMatcher" id="password-matcher-field">
    </TextField>
  </div>
</form>
<div>
  <mat-checkbox (change)="changeInputType($event.checked)" color="primary">Afficher le mot de passe</mat-checkbox>
</div>

<div class="mt-3 align-end">
  <button MyButton color="primary" (click)="resetPassword()"> Terminer</button>
</div>
