<div style="width: 640px">
  <div class="d-flex align-items-center p-4">

    <div>
      <button MyIconButton (click)="location.back()" class="me-3">
        <lucide-angular [img]="icons.ArrowLeftIcon" class="my-icon"></lucide-angular>
      </button>
    </div>
    <div class="fontWeight-semiBold fontSize-20">Modifier le client</div>
    <span class="flex-grow-1"></span>

    <div>
      <button MyButton class="primary" (click)="update()">Enregistrer</button>
    </div>

  </div>


  <div class="p-4">
    <CustomerForm *ngIf="formGroup" [formGroup]="formGroup"></CustomerForm>
  </div>
</div>

