<div #container>
  <div class="d-flex justify-content-center p-5" *ngIf="getFirstRangeTask.loading">
    <mat-spinner diameter="48" strokeWidth="2"></mat-spinner>
  </div>

  <div *ngIf="!getFirstRangeTask.loading">
    <table class="my-table dark">
      <thead>
      <tr>
        <th>#</th>
        <th *ngIf="display('code')">
          <button class="th-button-1">
            Code
          </button>
        </th>

        <th *ngIf="display('name')">
          <button class="th-button-1">
            Nom & prénom
          </button>
        </th>

        <th *ngIf="display('phone')">
          Téléphone
        </th>

        <th *ngIf="display('email')">
          E-mail
        </th>

        <th *ngIf="display('birthDate')">
          <button class="th-button-1">
            Née le
          </button>
        </th>

        <th *ngIf="display('birthPlace')">
          <button class="th-button-1">
            Née a
          </button>
        </th>

        <th *ngIf="display('sex')">
          <button class="th-button-1">
            Sexe
          </button>
        </th>

        <th *ngIf="display('job')">
          <button class="th-button-1">
            Métier
          </button>
        </th>

        <th *ngIf="display('passport')">
          <button class="th-button-1">
            Passport
          </button>
        </th>

        <th *ngIf="display('address')">
          <button class="th-button-1">
            Adresse
          </button>
        </th>

        <th *ngIf="display('createdAt')">
          <button class="th-button-1">
            Ajouté le
          </button>
        </th>

        <th *ngIf="display('updatedAt')">
          <button class="th-button-1">
            Modifié le
          </button>
        </th>

        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let customer of customers; let i=index; trackBy: trackById" class="row-hover cursor-pointer"
          (mouseenter)="hoverIndex = i"
          (mouseleave)="hoverIndex = null"
          (click)="onItemClick.emit(customer)"
      >
        <td>{{ i + 1 }}</td>
        <td *ngIf="display('code')">{{ customer.code }}</td>
        <td *ngIf="display('name')">{{ customer.fullName }}</td>
        <td *ngIf="display('phone')">
          <span *ngIf="customer.phones.length > 0">
            {{ customer.phones[0].formatted }}
          </span>
        </td>
        <td *ngIf="display('email')">
          <span *ngIf="customer.emails.length > 0">
            {{ customer.emails[0].value }}
          </span>
        </td>
        <td *ngIf="display('birthDate')">{{ customer.birthDate.toFormat('DD') }}</td>

        <td *ngIf="display('birthPlace')">{{ customer.birthPlace }}</td>

        <td *ngIf="display('sex')">
          <span class="fontSize-12" *ngIf="customer.sex == 'M'">Masc.</span>
          <span class="fontSize-12" *ngIf="customer.sex == 'F'">Fém.</span>
        </td>
        <td *ngIf="display('job')">{{ customer.jobTitle }}</td>

        <td *ngIf="display('passport')">
          <span class="fontSize-12 fontWeight-semiBold ms-color-greenDark" *ngIf="customer.hasPassport">Oui</span>
          <span class="fontSize-12 fontWeight-semiBold ms-color-red-10" *ngIf="!customer.hasPassport">Non</span>
        </td>
        <td *ngIf="display('address')">{{ customer.city }}, {{ customer.region }}</td>
        <td *ngIf="display('createdAt')">{{ customer.createdAt.moment() }}</td>
        <td *ngIf="display('updatedAt')">
          <span class="fontSize-12">{{ customer.createdAt.moment() }}</span>
        </td>

        <td style="text-align: end">
          <div [class.opacity-0]="hoverIndex != i && !dropdown.visible">
            <button MyIconButton style="margin-right: 4px"
                    *ngIf="!customer.isArchived"
                    [class.primary]="customer.isFavorite"
                    (click)="toggleFavorite(customer); $event.stopPropagation()">
              <lucide-icon [img]="icon.StarIcon" class="my-icon" [strokeWidth]="1.5"></lucide-icon>
            </button>

            <button MyIconButton style="margin-right: 16px" #menuTrigger
                    (click)="dropdown.open(); $event.stopPropagation()">
              <lucide-icon [img]="icon.EllipsisVertical" class="my-icon"></lucide-icon>
            </button>

            <Dropdown #dropdown [trigger]="menuTrigger.host"
                      (onBackdropClick)="dropdown.close()">
              <Menu>
                <button MenuItem>
                  <lucide-icon [img]="icon.PencilIcon"  strokeWidth="1.5"></lucide-icon>
                  Modifier </button>
                <button MenuItem *ngIf="!customer.isArchived" (click)="archive(customer); $event.stopPropagation()">
                  <lucide-icon [img]="icon.ArchiveIcon" strokeWidth="1.5"></lucide-icon>
                  Archiver </button>
                <button MenuItem *ngIf="customer.isArchived"
                        (click)="restoreArchived(customer); $event.stopPropagation()">
                  <lucide-icon [img]="icon.ArchiveRestore"  strokeWidth="1.5"></lucide-icon>
                  Restorer </button>
                <button MenuItem >
                  <lucide-icon [img]="icon.FolderInputIcon"  strokeWidth="1.5"></lucide-icon>
                  Ajouter à un dossier</button>
                <button MenuItem>
                  <lucide-icon [img]="icon.Trash2Icon"  strokeWidth="1.5"></lucide-icon>
                  Supprimer </button>
              </Menu>
            </Dropdown>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!hasMore && getFirstRangeTask.success" class="end-list-thumb"></div>
  <div class="range-observer-thumb" #rangeObserverThumb ></div>
  <div class="d-flex justify-content-center p-3" *ngIf="getRangeTask.loading">
    <mat-spinner strokeWidth="2" diameter="32"></mat-spinner>
  </div>

</div>
