<div class="p-4 space-page-container">
  <div class="fontSize-22">Vos espaces</div>
  @if(getSpaceTask.success && spaces.length > 0) {
    <div class="mt-3">
      @for (space of spaces; track space.id) {
        <a [routerLink]="[ '/spaces', space.identifier ]" class="space-card">

          <div class="space-card-image">
            <lucide-angular [img]="icons.BuildingIcon" size="128" strokeWidth="1"></lucide-angular>
          </div>

          <div class="fontSize-16 fontWeight-semiBold">{{space.name}}</div>
          <div>&#64;{{space.identifier}}</div>
        </a>
      }
    </div>
  }

  @if (getSpaceTask.success && spaces.length == 0) {
    <div class="d-flex justify-content-center mt-5">
      <div style="max-width: 580px">
        <div class="fontSize-24 text-center">Aucun espace</div>
        <div class="fontSize-16 mt-4 text-center">Vous n'êtes membre d'aucun espace. Pour commencer à travailler
          , attendez d'être ajouté à un espace, ou créez vous un espace dès maintenant.</div>

        <div class="text-center mt-4">
          <a MyButton class=" primary">
            <lucide-angular [img]="icons.PlusIcon" strokeWidth="1"></lucide-angular>
            Créer un espace</a>
        </div>
      </div>
    </div>
  }
</div>
