<div class="th-form-page">
  <form [formGroup]="formGroup" class="th-form">
    <div class="textStyle-title2">Se connecter</div>
    <div class="mt-4">
      <TextField class="w-100">
        <label TextFieldLabel for="userId-field">E-mail ou nom d'utilisateur</label>
        <input type="text" TextFieldInput formControlName="userId"  id="userId-field">
      </TextField>
    </div>

    <div class="mt-2">
      <TextField class="w-100">
        <label TextFieldLabel for="password-field">Mot de passe</label>
        <input type="password" TextFieldInput formControlName="password" id="password-field">
      </TextField>
    </div>



    <a routerLink="/identity/reset-password">Mot de passe oublié ?</a>

    <div class="mt-3 align-end">
      <button MyButton class="primary" (click)="login()">Se connecter</button>
    </div>

    <div class="mt-4">
      Si vous n'avez pas de compte, <a href="/identity/signin">en créer un</a>.
    </div>
  </form>
</div>
