.my-button {
  //height: 32px;
  color: inherit;
  display: block;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 32px;
  padding: 8px 16px;
  font-family: "Helvetica Neue", "Inter", sans-serif;
  font-size: 16px;

  &:hover {
    background-color: rgba(10, 120, 213, 0.1);
  }

  .button-layout {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 100%;

  }
}

.my-icon-button {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;

  & .button-layout {
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
  }

  svg {
    fill: transparent;
    stroke: #FFF;
    height: 20px;
  }

  &:hover {
    background-color: rgba(10, 120, 213, 0.1);
  }
}

.my-icon-button.primary {
  svg {
    fill: rgb(10, 120, 213);
    stroke: rgb(10, 120, 213);
  }
}

lucide-icon.fill svg {
  fill: #FFFFFF;
}

.my-button.alpha-primary {
  background-color: rgba(10, 120, 213, 0.2);
  font-weight: 500;

  &:hover {
    background-color: rgba(10, 120, 213, 0.4);
  }
}


.my-button.primary {
  background-color: rgb(10, 120, 213);
  color: #FFFFFF;
  font-weight: 500;

  &:hover {
    background-color: rgba(10, 120, 213, 0.9);
  }
}


lucide-angular.primary-fill {
  svg {
    fill: rgb(10, 120, 213);
    stroke: rgb(10, 120, 213);
  }
}
