<div class="d-flex justify-content-center p-5" *ngIf="getFirstRangeTask.loading">
  <mat-spinner diameter="48" strokeWidth="2"></mat-spinner>
</div>

@if(getFirstRangeTask.success && procedureApplies.length == 0) {
  <div class="surface p-4 mt-4 borderRadius-8 fontSize-18 fontWeight-light">
    Aucune précédure en cours.
  </div>
}

@if(getFirstRangeTask.success) {
  <div *ngFor="let apply of procedureApplies; let i=index"
     (click)="rowClick.emit(apply)"
     class="p-3 cursor-pointer surface"
       [class.mt-3]="i > 0"
       style="border-radius: 8px">
    <div class="fontWeight-bold fontSize-16">{{apply.customer.fullName}}</div>
    <div>
      <span>{{apply.procedure.name}}</span>
      <span class="mx-2"> </span>
      <span class="opacity-75 fontSize-12">Depuis le {{apply.createdAt.toFormat('ff')}}</span>
    </div>
  </div>
}

<div *ngIf="!hasMore && getFirstRangeTask.success" class="end-list-thumb"></div>
<div class="range-observer-thumb" #rangeObserverThumb></div>
<div class="d-flex justify-content-center p-3" *ngIf="getRangeTask.loading">
  <mat-spinner strokeWidth="2" diameter="48"></mat-spinner>
</div>
